<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Courses list</title>

    <!-- <link rel="stylesheet" href="css/swiper-bundle.min.css">

    <link href="style.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous"> -->

    <link rel="stylesheet" href="assets/css/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/vendor/slick.css">
    <link rel="stylesheet" href="assets/css/vendor/slick-theme.css">
    <link rel="stylesheet" href="assets/css/plugins/sal.css">
    <link rel="stylesheet" href="assets/css/plugins/feather.css">
    <link rel="stylesheet" href="assets/css/plugins/fontawesome.min.css">
    <link rel="stylesheet" href="assets/css/plugins/euclid-circulara.css">
    <link rel="stylesheet" href="assets/css/plugins/swiper.css">
    <link rel="stylesheet" href="assets/css/plugins/magnify.css">
    <link rel="stylesheet" href="assets/css/plugins/odometer.css">
    <link rel="stylesheet" href="assets/css/plugins/animation.css">
    <link rel="stylesheet" href="assets/css/plugins/bootstrap-select.min.css">
    <link rel="stylesheet" href="assets/css/plugins/jquery-ui.css">
    <link rel="stylesheet" href="assets/css/plugins/magnigy-popup.min.css">
    <link rel="stylesheet" href="assets/css/style.css">



</head>
<style>
    #materialimage {
        width: 38px;
        height: auto;
    }
</style>

<body>
    <header class="rbt-header rbt-header-10">
        <div class="rbt-sticky-placeholder"></div>
        <div class="rbt-header-wrapper header-space-betwween header-sticky py-3">
            <div class="container-fluid">
                <div class="mainbar-row rbt-navigation-center align-items-center">
                    <div class="header-left rbt-header-content">
                        <div class="header-info">
                            <div class="logo">
                                <a href="index.html">
                                    <img src="pagestyle\site-img\img\Logoipusm.png" alt="Logoipsum" />
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="header-right rbt-header-content">
                        <div class="container">
                            <form class="d-flex ">
                                <input class="form-control" type="search" placeholder="Search Anything"
                                    aria-label="Search" aria-describedby="search-addon" />
                                <button class="btn btn-outline-light" type="submit">
                                    <img src="pagestyle/site-img/img/icon (1).png" alt="">
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="container d-grid gap-4 pt-3">
        <div class="row">
            <div class="col-lg-6 mb-2">
                <div class="content text-start">
                    <h1 class="title fw-bold">Development <span class="text-primary fw-bold"> Courses</span></h1>
                    <h3 class="title fw-bold">Courses to get you started</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="container d-grid gap-4">
        <div class="row">
            <div class="col-lg-8">
                <div class="button">
                    <div class="col py-3">
                        <a class="btn  btn-outline-primary btn-lg md-3 px-5" title="Relevant Title" href="#">Most Popular</a>
                        <a class="btn btn-outline-primary btn-lg px-3 " title="Relevant Title" href="#">catagory</a>
                        <a class="btn btn-outline-primary btn-lg px-3  " title="Relevant Title" href="#">catagory</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="container-lg py-2">
        <div class="row gy-4 mx-0">
            <div class="col shadow p-3 mb-5 bg-body rounded">
                <div class="card h-100 border-0">
                    <img src="pagestyle\site-img\img\Rectangle 28 (3).png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h6 class="card-title  text-primary" type="button">Catagory</h6><br>
                        <p class="card-text">Title of the Course</p>
                        <span class="icon">
                            <i class="material-icons ">
                                <img src="pagestyle\site-img\img\New folder\EllipseGreen.png" alt="" id="materialimage">
                            </i>
                        </span>
                        <span class="text">10k+</span>
                        <span class="icon ms-5 ps-5">
                            <i class="material-icons">
                                <img src="pagestyle\site-img\img\New folder\EllipseYellow.png" alt=""
                                    id="materialimage">
                            </i>
                        </span>
                        <span class="text">4.9</span>
                        <br>
                        <br>
                        <div class="icon">
                            <i class="material-icons">
                                <img src="pagestyle\site-img\img\New folder\EllipsePink.png" alt="" id="materialimage">
                            </i>
                            <span class="text">$100</span>
                        </div>
                        <br>
                        <div class="position-relative">
                            <div class="position-absolute bottom-0 end-0">
                                <a class="btn btn-outline" href="course-details.html" role="button">
                                    <p class="text-decoration-underline">learn more-></p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm shadow p-3 mb-5 bg-body rounded">
                <div class="card h-100 border-0">
                    <img src="pagestyle\site-img\img\Rectangle 28 (2).png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h6 class="card-title  text-primary" type="button">Catagory</h6><br>
                        <p class="card-text">Title of the Course</p>
                        <span class="icon">
                            <i class="material-icons">
                                <img src="pagestyle\site-img\img\New folder\EllipseGreen.png" alt="" id="materialimage">
                            </i>
                        </span>
                        <span class="text">10k+</span>
                        <span class="icon ms-5 ps-5">
                            <i class="material-icons">
                                <img src="pagestyle\site-img\img\New folder\EllipseYellow.png" alt=""
                                    id="materialimage">
                            </i>
                        </span>
                        <span class="text">4.9</span>
                        <br>
                        <br>
                        <div class="icon">
                            <i class="material-icons">
                                <img src="pagestyle\site-img\img\New folder\EllipsePink.png" alt="" id="materialimage">
                            </i>
                            <span class="text">$100</span>
                        </div>
                        <br>
                        <div class="position-relative">
                            <div class="position-absolute bottom-0 end-0">
                                <a class="btn btn-outline" href="course-details.html" role="button">
                                    <p class="text-decoration-underline">learn more-></p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm shadow p-3 mb-5 bg-body rounded">
                <div class="card h-100 border-0">
                    <img src="pagestyle\site-img\img\Rectangle 28 (1).png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h6 class="card-title  text-primary" type="button">Catagory</h6><br>
                        <p class="card-text">Title of the Course</p>
                        <span class="icon">
                            <i class="material-icons">
                                <img src="pagestyle\site-img\img\New folder\EllipseGreen.png" alt="" id="materialimage">
                            </i>
                        </span>
                        <span class="text">10k+</span>
                        <span class="icon ms-5 ps-5">
                            <i class="material-icons">
                                <img src="pagestyle\site-img\img\New folder\EllipseYellow.png" alt=""
                                    id="materialimage">
                            </i>
                        </span>
                        <span class="text">4.9</span>
                        <br>
                        <br>
                        <div class="icon">
                            <i class="material-icons">
                                <img src="pagestyle\site-img\img\New folder\EllipsePink.png" alt="" id="materialimage">
                            </i>
                            <span class="text">$100</span>
                        </div>
                        <br>
                        <div class="position-relative">
                            <div class="position-absolute bottom-0 end-0">
                                <a class="btn btn-outline" href="course-details.html" role="button">
                                    <p class="text-decoration-underline">learn more-></p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm shadow p-3 mb-5 bg-body rounded">
                <div class="card h-100 border-0">
                    <img src="pagestyle\site-img\img\Rectangle 28.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h6 class="card-title  text-primary" type="button">Catagory</h6><br>
                        <p class="card-text">Title of the Course</p>
                        <span class="icon">
                            <i class="material-icons">
                                <img src="pagestyle\site-img\img\New folder\EllipseGreen.png" alt="" id="materialimage">
                            </i>
                        </span>
                        <span class="text">10k+</span>
                        <span class="icon ms-5 ps-5">
                            <i class="material-icons">
                                <img src="pagestyle\site-img\img\New folder\EllipseYellow.png" alt=""
                                    id="materialimage">
                            </i>
                        </span>
                        <span class="text">4.9</span>
                        <br>
                        <br>
                        <div class="icon">
                            <i class="material-icons">
                                <img src="pagestyle\site-img\img\New folder\EllipsePink.png" alt="" id="materialimage">
                            </i>
                            <span class="text">$100</span>
                        </div>
                        <br>
                        <div class="position-relative">
                            <div class="position-absolute bottom-0 end-0">
                                <a class="btn btn-outline" href="course-details.html" role="button">
                                    <p class="text-decoration-underline">learn more-></p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-lg pt-4">
        <div class="row">
            <div class="col-lg-8">
                <div class="content text-start pb-3">
                    <h1 class="title">Featured <span class="text-primary"> Courses</span></h1>
                </div>
            </div>
        </div>
    </div>

    </div>
    <div id="carouselExampleControls" class="carousel carousel-dark slide d-grid gap-4" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="card-wrapper container-sm d-flex   justify-content-around">
                    <div class="card mb-3 border-0 shadow p-3 mb-5 bg-body rounded" style="max-width: 540px;">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="pagestyle\site-img\img\asset 7.jpeg" class="img-fluid rounded-start"
                                    alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">Title of the Course</h5>
                                    <p class="card-text">Category</p>
                                    <span class="icon">
                                        <i class="material-icons ">
                                            <img src="pagestyle\site-img\img\New folder\EllipseYellow.png" alt=""
                                                id="materialimage">
                                        </i>
                                    </span>
                                    <span class="text">4.9</span><span class="icon">
                                        <i class="material-icons">
                                            <img src="pagestyle\site-img\img\New folder\EllipseViolet.png" alt=""
                                                id="materialimage">
                                        </i>
                                    </span>
                                    <span class="text">10k+</span>
                                    <div class="rowq">
                                        <h3 class="text ">$100</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-3 border-0 shadow p-3 mb-5 bg-body rounded" style="max-width: 540px;">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="pagestyle\site-img\img\asset 3.jpeg" class="img-fluid rounded-start"
                                    alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">Title of the Course</h5>
                                    <p class="card-text">Category</p>
                                    <span class="icon">
                                        <i class="material-icons">
                                            <img src="pagestyle\site-img\img\New folder\EllipseYellow.png" alt=""
                                                id="materialimage">
                                        </i>
                                    </span>
                                    <span class="text">4.9</span><span class="icon">
                                        <i class="material-icons">
                                            <img src="pagestyle\site-img\img\New folder\EllipseViolet.png" alt=""
                                                id="materialimage">
                                        </i>
                                    </span>
                                    <span class="text">10k+</span>
                                    <div class="rowq">
                                        <h3 class="text ">$100</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="card-wrapper container-sm d-flex   justify-content-around">
                    <div class="card mb-3 border-0 shadow p-3 mb-5 bg-body rounded" style="max-width: 540px;">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="pagestyle\site-img\img\asset 7.jpeg" class="img-fluid rounded-start"
                                    alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">Title of the Course</h5>
                                    <p class="card-text">Category</p>
                                    <span class="icon">
                                        <i class="material-icons ">
                                            <img src="pagestyle\site-img\img\New folder\EllipseYellow.png" alt=""
                                                id="materialimage">
                                        </i>
                                    </span>
                                    <span class="text">4.9</span><span class="icon">
                                        <i class="material-icons">
                                            <img src="pagestyle\site-img\img\New folder\EllipseViolet.png" alt=""
                                                id="materialimage">
                                        </i>
                                    </span>
                                    <span class="text">10k+</span>
                                    <div class="rowq">
                                        <h3 class="text ">$100</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-3 border-0 shadow p-3 mb-5 bg-body rounded" style="max-width: 540px;">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="pagestyle\site-img\img\asset 3.jpeg" class="img-fluid rounded-start"
                                    alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">Title of the Course</h5>
                                    <p class="card-text">Category</p>
                                    <span class="icon">
                                        <i class="material-icons">
                                            <img src="pagestyle\site-img\img\New folder\EllipseYellow.png" alt=""
                                                id="materialimage">
                                        </i>
                                    </span>
                                    <span class="text">4.9</span><span class="icon">
                                        <i class="material-icons">
                                            <img src="pagestyle\site-img\img\New folder\EllipseViolet.png" alt=""
                                                id="materialimage">
                                        </i>
                                    </span>
                                    <span class="text">10k+</span>
                                    <div class="rowq">
                                        <h3 class="text ">$100</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="card-wrapper container-sm d-flex   justify-content-around">
                    <div class="card mb-3 border-0 shadow p-3 mb-5 bg-body rounded" style="max-width: 540px;">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="pagestyle\site-img\img\asset 7.jpeg" class="img-fluid rounded-start"
                                    alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">Title of the Course</h5>
                                    <p class="card-text">Category</p>
                                    <span class="icon">
                                        <i class="material-icons ">
                                            <img src="pagestyle\site-img\img\New folder\EllipseYellow.png" alt=""
                                                id="materialimage">
                                        </i>
                                    </span>
                                    <span class="text">4.9</span><span class="icon">
                                        <i class="material-icons">
                                            <img src="pagestyle\site-img\img\New folder\EllipseViolet.png" alt=""
                                                id="materialimage">
                                        </i>
                                    </span>
                                    <span class="text">10k+</span>
                                    <div class="rowq">
                                        <h3 class="text ">$100</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-3 border-0 shadow p-3 mb-5 bg-body rounded" style="max-width: 540px;">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="pagestyle\site-img\img\asset 3.jpeg" class="img-fluid rounded-start"
                                    alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">Title of the Course</h5>
                                    <p class="card-text">Category</p>
                                    <span class="icon">
                                        <i class="material-icons">
                                            <img src="pagestyle\site-img\img\New folder\EllipseYellow.png" alt=""
                                                id="materialimage">
                                        </i>
                                    </span>
                                    <span class="text">4.9</span><span class="icon">
                                        <i class="material-icons">
                                            <img src="pagestyle\site-img\img\New folder\EllipseViolet.png" alt=""
                                                id="materialimage">
                                        </i>
                                    </span>
                                    <span class="text">10k+</span>
                                    <div class="rowq">
                                        <h3 class="text ">$100</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        <div class="container d-grid gap-4">
            <div class="row">
                <div class="col-lg-8">
                    <div class="content text-start">
                        <h1 class="title">All Courses</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="row row-cols-0 row-cols-md-2 ps-4 ">
                        <div class="card mx-auto border-0 shadow p-3 mb-5 bg-body rounded" style="max-width: 540px;">
                            <div class="row gy-5">
                                <div class="col-md-4">
                                    <img src="pagestyle\site-img\img\Rectangle 51 (9).png" class="card-img-top"
                                        alt="...">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title">Title of the Course</h5>
                                        <p class="card-text"><small class="text-muted"><span
                                                    class="text-primary">Catagory</span></small>
                                        </p>
                                        <span class="icon">
                                            <i class="material-icons">
                                                <img src="pagestyle\site-img\img\New folder\EllipseBlue.png" alt=""
                                                    id="materialimage">
                                            </i>
                                        </span>
                                        <span class="text">4.9</span><span class="icon">
                                            <i class="material-icons">
                                                <img src="pagestyle\site-img\img\New folder\EllipseOrange.png" alt=""
                                                    id="materialimage">
                                            </i>
                                        </span>
                                        <span class="text">10k+</span><span class="icon">
                                        </span>
                                        <br>
                                        <br>
                                        <h4 class="text ps-2">$100</h4>
                                        <div class="position-relative">
                                            <div class="position-absolute bottom-0 end-0">
                                                <a class="btn btn-outline" href="course-details.html" role="button">
                                                    <p class="text-decoration-underline">learn more-></p>
                                                </a>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card mx-auto border-0 shadow p-3 mb-5 bg-body rounded" style="max-width: 540px;">
                            <div class="row gy-5">
                                <div class="col-md-4">
                                    <img src="pagestyle\site-img\img\Rectangle 51 (8).png" class="card-img" alt="...">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title">Title of the Course</h5>
                                        <p class="card-text"><small class="text-muted"><span
                                                    class="text-primary">Catagory</span></small>
                                        </p>
                                        <span class="icon">
                                            <i class="material-icons">
                                                <img src="pagestyle\site-img\img\New folder\EllipseYellow.png" alt=""
                                                    id="materialimage">
                                            </i>
                                        </span>
                                        <span class="text">4.9</span><span class="icon">
                                            <i class="material-icons">
                                                <img src="pagestyle\site-img\img\New folder\EllipseBlue.png" alt=""
                                                    id="materialimage">
                                            </i>
                                        </span>
                                        <span class="text">10k+</span>
                                        </span>
                                        <br>
                                        <br>
                                        <h4 class="text ps-2">$100</h4>
                                        <div class="position-relative">
                                            <div class="position-absolute bottom-0 end-0">
                                                <a class="btn btn-outline" href="course-details.html" role="button">
                                                    <p class="text-decoration-underline">learn more-></p>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card mx-auto border-0 shadow p-3 mb-5 bg-body rounded" style="max-width: 540px;">
                            <div class="row gy-5">
                                <div class="col-md-4">
                                    <img src="pagestyle\site-img\img\Rectangle 51 (7).png" class="card-img" alt="...">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title">Title of the Course</h5>
                                        <p class="card-text"><small class="text-muted "><span
                                                    class="text-primary">Catagory</span></small>
                                        </p>
                                        <span class="icon">
                                            <i class="material-icons">
                                                <img src="pagestyle\site-img\img\New folder\EllipseYellow.png" alt=""
                                                    id="materialimage">
                                            </i>
                                        </span>
                                        <span class="text">4.9</span><span class="icon">
                                            <i class="material-icons">
                                                <img src="pagestyle\site-img\img\New folder\EllipseBlue.png" alt=""
                                                    id="materialimage">
                                            </i>
                                        </span>
                                        <span class="text">10k+</span>
                                        </span>
                                        <br>
                                        <br>
                                        <h4 class="text ps-2">$100</h4>
                                        <div class="position-relative">
                                            <div class="position-absolute bottom-0 end-0">
                                                <a class="btn btn-outline" href="course-details.html" role="button">
                                                    <p class="text-decoration-underline">learn more-></p>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card mx-auto border-0 shadow p-3 mb-5 bg-body rounded" style="max-width: 540px;">
                            <div class="row gy-5">
                                <div class="col-md-4">
                                    <img src="pagestyle\site-img\img\Rectangle 51 (6).png" class="card-img" alt="...">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title">Title of the Course</h5>
                                        <p class="card-text"><small class="text-muted"><span
                                                    class="text-primary">Catagory</span></small>
                                        </p>
                                        <span class="icon">
                                            <i class="material-icons">
                                                <img src="pagestyle\site-img\img\New folder\EllipseYellow.png" alt=""
                                                    id="materialimage">
                                            </i>
                                        </span>
                                        <span class="text">4.9</span><span class="icon">
                                            <i class="material-icons">
                                                <img src="pagestyle\site-img\img\New folder\EllipseBlue.png" alt=""
                                                    id="materialimage">
                                            </i>
                                        </span>
                                        <span class="text">10k+</span>
                                        </span>
                                        <br>
                                        <br>
                                        <h4 class="text ps-2">$100</h4>
                                        <div class="position-relative">
                                            <div class="position-absolute bottom-0 end-0">
                                                <a class="btn btn-outline" href="course-details.html" role="button">
                                                    <p class="text-decoration-underline">learn more-></p>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card mx-auto border-0 shadow p-3 mb-5 bg-body rounded" style="max-width: 540px;">
                            <div class="row gy-5">
                                <div class="col-md-4">
                                    <img src="pagestyle\site-img\img\Rectangle 51 (5).png" class="card-img" alt="...">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title">Title of the Course</h5>
                                        <p class="card-text"><small class="text-muted"><span
                                                    class="text-primary">Catagory</span></small>
                                        </p>
                                        <span class="icon">
                                            <i class="material-icons">
                                                <img src="pagestyle\site-img\img\New folder\EllipseYellow.png" alt=""
                                                    id="materialimage">
                                            </i>
                                        </span>
                                        <span class="text">4.9</span><span class="icon">
                                            <i class="material-icons">
                                                <img src="pagestyle\site-img\img\New folder\EllipseBlue.png" alt=""
                                                    id="materialimage">
                                            </i>
                                        </span>
                                        <span class="text">10k+</span>
                                        </span>
                                        <br>
                                        <br>
                                        <h4 class="text ps-2">$100</h4>
                                        <div class="position-relative">
                                            <div class="position-absolute bottom-0 end-0">
                                                <a class="btn btn-outline" href="course-details.html" role="button">
                                                    <p class="text-decoration-underline">learn more-></p>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card mx-auto border-0 shadow p-3 mb-5 bg-body rounded" style="max-width: 540px;">
                            <div class="row gy-5">
                                <div class="col-md-4">
                                    <img src="pagestyle\site-img\img\Rectangle 51 (4).png" class="card-img" alt="...">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title">Title of the Course</h5>
                                        <p class="card-text"><small class="text-muted"><span
                                                    class="text-primary">Catagory</span></small>
                                        </p>
                                        <span class="icon">
                                            <i class="material-icons">
                                                <img src="pagestyle\site-img\img\New folder\EllipseYellow.png" alt=""
                                                    id="materialimage">
                                            </i>
                                        </span>
                                        <span class="text">4.9</span><span class="icon">
                                            <i class="material-icons">
                                                <img src="pagestyle\site-img\img\New folder\EllipseBlue.png" alt=""
                                                    id="materialimage">
                                            </i>
                                        </span>
                                        <span class="text">10k+</span>
                                        </span><br>
                                        <br>
                                        <h4 class="text ps-2">$100</h4>
                                        <div class="position-relative">
                                            <div class="position-absolute bottom-0 end-0">
                                                <a class="btn btn-outline" href="course-details.html" role="button">
                                                    <p class="text-decoration-underline">learn more-></p>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card mx-auto border-0 shadow p-3 mb-5 bg-body rounded" style="max-width: 540px;">
                            <div class="row gy-5">
                                <div class="col-md-4">
                                    <img src="pagestyle\site-img\img\Rectangle 51 (3).png" class="card-img" alt="...">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title">Title of the Course</h5>
                                        <p class="card-text"><small class="text-muted"><span
                                                    class="text-primary">Catagory</span></small>
                                        </p>
                                        <span class="icon">
                                            <i class="material-icons">
                                                <img src="pagestyle\site-img\img\New folder\EllipseYellow.png" alt=""
                                                    id="materialimage">
                                            </i>
                                        </span>
                                        <span class="text">4.9</span><span class="icon">
                                            <i class="material-icons">
                                                <img src="pagestyle\site-img\img\New folder\EllipseBlue.png" alt=""
                                                    id="materialimage">
                                            </i>
                                        </span>
                                        <span class="text">10k+</span>
                                        </span>
                                        <br>
                                        <br>
                                        <h4 class="text ps-2">$100</h4>
                                        <div class="position-relative">
                                            <div class="position-absolute bottom-0 end-0">
                                                <a class="btn btn-outline" href="course-details.html" role="button">
                                                    <p class="text-decoration-underline">learn more-></p>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card mx-auto border-0 shadow p-3 mb-5 bg-body rounded" style="max-width: 540px;">
                            <div class="row gy-3">
                                <div class="col-md-4">
                                    <img src="pagestyle\site-img\img\Rectangle 28 (1).png" class="card-img" alt="...">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title">Title of the Course</h5>
                                        <p class="card-text"><small class="text-muted"><span
                                                    class="text-primary">Catagory</span></small>
                                        </p>
                                        <span class="icon">
                                            <i class="material-icons">
                                                <img src="pagestyle\site-img\img\New folder\EllipseYellow.png" alt=""
                                                    id="materialimage">
                                            </i>
                                        </span>
                                        <span class="text">4.9</span><span class="icon">
                                            <i class="material-icons">
                                                <img src="pagestyle\site-img\img\New folder\EllipseBlue.png" alt=""
                                                    id="materialimage">
                                            </i>
                                        </span>
                                        <span class="text">10k+</span>
                                        </span>
                                        <br>
                                        <br>
                                        <h4 class="text ps-2">$100</h4>
                                        <div class="position-relative">
                                            <div class="position-absolute bottom-0 end-0">
                                                <a class="btn btn-outline" href="course-details.html" role="button">
                                                    <p class="text-decoration-underline">learn more-></p>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>


        <nav aria-label="Page">
            <ul class="pagination justify-content-center">
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true"><</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">4</a></li>
                <li class="page-item"><a class="page-link" href="#">5</a></li>
                <li class="page-item"><a class="page-link" href="#">6</a></li>
                <li class="page-item">
                    <a class="page-link" href="#">></a>
                </li>
            </ul>
        </nav>

        <!--footer start -->

        <footer class="d-flex flex-wrap justify-content-between align-items-center p-5 mt-5 border-top"
            style="background-color: #F1F1FB;">
            <p class="col-md-4 mb-0 text-body-secondary"><img src="pagestyle\site-img\img\Logoipusm.png" alt=""></p>

            <a href="/"
                class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">

            </a>

            <ul class="nav col-md-4 justify-content-end">
                <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Home</a></li>
                <li class="nav-item"><a href="About.html" class="nav-link px-2 text-body-secondary">About us </a></li>
                <li class="nav-item"><a href="contact.html" class="nav-link px-2 text-body-secondary">Contact Us</a>
                </li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Terms</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">PrivacyPolicy</a></li>

            </ul>
        </footer>


        <!--footer end -->


        <!-- JS
  ============================================ -->
        <!-- Modernizer JS -->
        <script src="assets/js/vendor/modernizr.min.js"></script>
        <!-- jQuery JS -->
        <script src="assets/js/vendor/jquery.js"></script>
        <!-- Bootstrap JS -->
        <script src="assets/js/vendor/bootstrap.min.js"></script>
        <!-- sal.js -->
        <script src="assets/js/vendor/sal.js"></script>
        <script src="assets/js/vendor/swiper.js"></script>
        <script src="assets/js/vendor/magnify.min.js"></script>
        <script src="assets/js/vendor/jquery-appear.js"></script>
        <script src="assets/js/vendor/odometer.js"></script>
        <script src="assets/js/vendor/backtotop.js"></script>
        <script src="assets/js/vendor/isotop.js"></script>
        <script src="assets/js/vendor/imageloaded.js"></script>

        <script src="assets/js/vendor/wow.js"></script>
        <script src="assets/js/vendor/waypoint.min.js"></script>
        <script src="assets/js/vendor/easypie.js"></script>
        <script src="assets/js/vendor/text-type.js"></script>
        <script src="assets/js/vendor/jquery-one-page-nav.js"></script>
        <script src="assets/js/vendor/bootstrap-select.min.js"></script>
        <script src="assets/js/vendor/jquery-ui.js"></script>
        <script src="assets/js/vendor/magnify-popup.min.js"></script>
        <script src="assets/js/vendor/paralax-scroll.js"></script>
        <script src="assets/js/vendor/paralax.min.js"></script>
        <script src="assets/js/vendor/countdown.js"></script>
        <!-- Main JS -->
        <script src="assets/js/main.js"></script>






        <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>

        <script src="js/swiper-bundle.min.js"></script> -->

</body>

</html>