{% extends 'base.html' %} {% load static %} {% block content %}
<div class="container">

    <div class="row row-cols-1 row-cols-md-3 row-cols-lg-3 g-4 p-3">
        <div class="col" onclick="window.location.href='#'">
            <div class="card px-5 mx-3  h-100 bg-light rounded-5 shadow-sm">
                <div class="row gy-3 my-3">
                    <div class="col-md-4">
                        <img src="{% static 'assets\pics\11.png' %}" class="img-fluid rounded-start" alt="..." />
                    </div>
                    <div class="col-md-8">
                        <div class="card-body pb-3">
                            <h5 class="card-title font-family-poppins fw-bold fs-4">
                                App & Web
                            </h5>
                            <h5 class="card-title font-family-poppins fw-bold fs-4">
                                Development
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col" onclick="window.location.href='#'">
            <div class="card px-5 mx-3  h-100 bg-light rounded-5 shadow-sm">
                <div class="row gy-3 my-3">
                    <div class="col-md-4">
                        <img src="{% static 'assets\pics\11.png' %}" class="img-fluid rounded-start" alt="..." />
                    </div>
                    <div class="col-md-8">
                        <div class="card-body pb-3">
                            <h5 class="card-title font-family-poppins fw-bold fs-4">
                                App & Web
                            </h5>
                            <h5 class="card-title font-family-poppins fw-bold fs-4">
                                Development
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col" onclick="window.location.href='#'">
            <div class="card px-5 mx-3  h-100 bg-light rounded-5 shadow-sm">
                <div class="row gy-3 my-3">
                    <div class="col-md-4">
                        <img src="{% static 'assets\pics\11.png' %}" class="img-fluid rounded-start" alt="..." />
                    </div>
                    <div class="col-md-8">
                        <div class="card-body pb-3">
                            <h5 class="card-title font-family-poppins fw-bold fs-4">
                                App & Web
                            </h5>
                            <h5 class="card-title font-family-poppins fw-bold fs-4">
                                Development
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-3 row-cols-lg-3 g-4 p-3">
        <div class="col" onclick="window.location.href='#'">
            <div class="card h-100 bg-light rounded-5 shadow-sm">
                <div class="row gy-3 my-3">
                    <div class="col-md-4">
                        <img src="{% static 'assets\pics\11.png' %}" class="img-fluid rounded-start" alt="..." />
                    </div>
                    <div class="col-md-8">
                        <div class="card-body pb-3">
                            <h5 class="card-title font-family-poppins fw-bold fs-4">
                                App & Web
                            </h5>
                            <h5 class="card-title font-family-poppins fw-bold fs-4">
                                Development
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col" onclick="window.location.href='#'">
            <div class="card h-100 bg-light rounded-5 shadow-sm">
                <div class="row gy-3 my-3">
                    <div class="col-md-4">
                        <img src="{% static 'assets\pics\11.png' %}" class="img-fluid rounded-start" alt="..." />
                    </div>
                    <div class="col-md-8">
                        <div class="card-body pb-3">
                            <h5 class="card-title font-family-poppins fw-bold fs-4">
                                App & Web
                            </h5>
                            <h5 class="card-title font-family-poppins fw-bold fs-4">
                                Development
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col" onclick="window.location.href='#'">
            <div class="card h-100 bg-light rounded-5 shadow-sm">
                <div class="row gy-3 my-3">
                    <div class="col-md-4">
                        <img src="{% static 'assets\pics\11.png' %}" class="img-fluid rounded-start" alt="..." />
                    </div>
                    <div class="col-md-8">
                        <div class="card-body pb-3">
                            <h5 class="card-title font-family-poppins fw-bold fs-4">
                                App & Web
                            </h5>
                            <h5 class="card-title font-family-poppins fw-bold fs-4">
                                Development
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-3 row-cols-lg-3 g-4 p-3">
        <div class="col" onclick="window.location.href='#'">
            <div class="card h-100 bg-light rounded-5 shadow-sm">
                <div class="row gy-3 my-3">
                    <div class="col-md-4">
                        <img src="{% static 'assets\pics\11.png' %}" class="img-fluid rounded-start" alt="..." />
                    </div>
                    <div class="col-md-8">
                        <div class="card-body pb-3">
                            <h5 class="card-title font-family-poppins fw-bold fs-4">
                                App & Web
                            </h5>
                            <h5 class="card-title font-family-poppins fw-bold fs-4">
                                Development
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col" onclick="window.location.href='#'">
            <div class="card h-100 bg-light rounded-5 shadow-sm">
                <div class="row gy-3 my-3">
                    <div class="col-md-4">
                        <img src="{% static 'assets\pics\11.png' %}" class="img-fluid rounded-start" alt="..." />
                    </div>
                    <div class="col-md-8">
                        <div class="card-body pb-3">
                            <h5 class="card-title font-family-poppins fw-bold fs-4">
                                App & Web
                            </h5>
                            <h5 class="card-title font-family-poppins fw-bold fs-4">
                                Development
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col" onclick="window.location.href='#'">
            <div class="card h-100 bg-light rounded-5 shadow-sm">
                <div class="row gy-3 my-3">
                    <div class="col-md-4">
                        <img src="{% static 'assets\pics\11.png' %}" class="img-fluid rounded-start" alt="..." />
                    </div>
                    <div class="col-md-8">
                        <div class="card-body pb-3">
                            <h5 class="card-title font-family-poppins fw-bold fs-4">
                                App & Web
                            </h5>
                            <h5 class="card-title font-family-poppins fw-bold fs-4">
                                Development
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-3 row-cols-lg-3 g-4 p-3">
        <div class="col" onclick="window.location.href='#'">
            <div class="card h-100 bg-light rounded-5 shadow-sm">
                <div class="row gy-3 my-3">
                    <div class="col-md-4">
                        <img src="{% static 'assets\pics\11.png' %}" class="img-fluid rounded-start" alt="..." />
                    </div>
                    <div class="col-md-8">
                        <div class="card-body pb-3">
                            <h5 class="card-title font-family-poppins fw-bold fs-4">
                                App & Web
                            </h5>
                            <h5 class="card-title font-family-poppins fw-bold fs-4">
                                Development
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col" onclick="window.location.href='#'">
            <div class="card h-100 bg-light rounded-5 shadow-sm">
                <div class="row gy-3 my-3">
                    <div class="col-md-4">
                        <img src="{% static 'assets\pics\11.png' %}" class="img-fluid rounded-start" alt="..." />
                    </div>
                    <div class="col-md-8">
                        <div class="card-body pb-3">
                            <h5 class="card-title font-family-poppins fw-bold fs-4">
                                App & Web
                            </h5>
                            <h5 class="card-title font-family-poppins fw-bold fs-4">
                                Development
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col" onclick="window.location.href='#'">
            <div class="card h-100 bg-light rounded-5 shadow-sm">
                <div class="row gy-3 my-3">
                    <div class="col-md-4">
                        <img src="{% static 'assets\pics\11.png' %}" class="img-fluid rounded-start" alt="..." />
                    </div>
                    <div class="col-md-8">
                        <div class="card-body pb-3">
                            <h5 class="card-title font-family-poppins fw-bold fs-4">
                                App & Web
                            </h5>
                            <h5 class="card-title font-family-poppins fw-bold fs-4">
                                Development
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


{% endblock content %}