{% extends 'base.html' %} {% load static %}
{% block content %}



<!--  Tabs Start -->
<div class="container-lg text-center p-2">

  <!-- TAB LINKS ARE HERE -->
  <div class="card-header bg-transparent p-0">
    <ul class="nav nav-pills mb-0" id="pills-tab" role="tablist">
      <!-- All Category -->
      <li class="nav-item" role="presentation">
        <button class="nav-link active  " id="pills-mostpopular-tab" data-bs-toggle="pill"
          data-bs-target="#pills-mostpopular" type="button" role="tab" aria-controls="pills-mostpopular"
          aria-selected="true">
           <small class="fw-bold fs-5">Most Popular</small>
        </button>
      </li>

      <!-- App & Web Development -->
      <li class="nav-item" role="presentation">
        <button class="nav-link  " id="pills-app-web-development-tab" data-bs-toggle="pill"
          data-bs-target="#pills-app-web-development" type="button" role="tab" aria-controls="pills-app-web-development" aria-selected="true">
           <small class="fw-bold fs-5">App & Web Development </small>
        </button>
      </li>

      <!-- Digital Marketing -->
      <li class="nav-item" role="presentation">
        <button class="nav-link  " id="pills-digital-marketing-tab" data-bs-toggle="pill"
          data-bs-target="#pills-digital-marketing" type="button" role="tab" aria-controls="pills-digital-marketing" aria-selected="false">
           <small class="fw-bold fs-5">Digital Marketing </small>
        </button>
      </li>

      <!-- Graphics Designing -->
      <li class="nav-item" role="presentation">
        <button class="nav-link  " id="pills-graphics-designing-tab" data-bs-toggle="pill"
          data-bs-target="#pills-graphics-designing" type="button" role="tab" aria-controls="pills-graphics-designing"
          aria-selected="false">
           <small class="fw-bold fs-5">Graphics Designing </small>
        </button>
      </li>
      
      <!-- Python Programming -->
      <li class="nav-item" role="presentation">
        <button class="nav-link  " id="pills-python-programming-tab" data-bs-toggle="pill"
          data-bs-target="#pills-python-programming" type="button" role="tab" aria-controls="pills-python-programming"
          aria-selected="false">
           <small class="fw-bold fs-5">Python Programming </small>
        </button>
      </li>

      <!-- Artificial Intelligence -->
      <li class="nav-item" role="presentation">
        <button class="nav-link  " id="pills-artificial-intelligence-tab" data-bs-toggle="pill"
          data-bs-target="#pills-artificial-intelligence" type="button" role="tab" aria-controls="pills-artificial-intelligence"
          aria-selected="false">
           <small class="fw-bold fs-5">Artificial Intelligence </small>
        </button>
      </li>

      <!-- Government Exams -->
      <li class="nav-item" role="presentation">
        <button class="nav-link  " id="pills-government-exams-tab" data-bs-toggle="pill"
          data-bs-target="#pills-government-exams" type="button" role="tab" aria-controls="pills-government-exams"
          aria-selected="false">
           <small class="fw-bold fs-5">Government Exams </small>
        </button>
      </li>

    </ul>
  </div>
 
  <div class="card-body">


    <!-- TAB CONTENTS ARE HERE -->
    <div class="tab-content" id="pills-tabContent">

      <!-- TAB CONTENT FOR ALL COURSES -->
      <div class="tab-pane fade show active" id="pills-mostpopular" role="tabpanel"
        aria-labelledby="pills-mostpopular-tab" tabindex="0">
        <h5 class="card-title text-start py-5">
          Expand your career opportunities with hugh collection of our MOST POPULAR COURSES
        </h5>
        <div class="me-2 ms-0 row">
          <div class="bg-body col-sm mb-5 me-1 ms-2 p-3 rounded shadow">
            <div class="rbt-card variation-01 rbt-hover">
              <div class="rbt-card-img">
                <a href="/courses/course-details">
                  <img src="/static/assets/images/course/course-online-03.jpg" alt="Card image">
                  <div class="rbt-badge-3 bg-white">
                    <span>-10%</span>
                    <span>Off</span>
                  </div>
                </a>
              </div>
              <div class="rbt-card-body">
                <div class="rbt-card-top">
                </div>
                <h4 class="rbt-card-title"><a href="/courses/course-details">Angular Zero to Mastery</a>
                </h4>
                <p class="rbt-card-text">Angular Js long fact that a reader will be distracted by
                  the readable.</p>

                <div class="rbt-author-meta mb--20">
                  <div class="rbt-author-info">
                    By <a href="profile.html">Slaughter</a> In <a href="#">Languages</a>
                  </div>
                </div>
                <div class="rbt-card-bottom">
                  <div class="rbt-price">
                    <span class="current-price">$80</span>
                    <span class="off-price">$100</span>
                  </div>
                  <a class="btn btn-primary btn-lg" href="/courses/course-details" role="button">Enroll Now</a>
                </div>
              </div>
            </div>
          </div>
          <div class="bg-body col-sm mb-5 me-1 ms-2 p-3 rounded shadow">
            <div class="rbt-card variation-01 rbt-hover">
              <div class="rbt-card-img">
                <a href="/courses/course-details">
                  <img src="/static/assets/images/course/course-online-03.jpg" alt="Card image">
                  <div class="rbt-badge-3 bg-white">
                    <span>-10%</span>
                    <span>Off</span>
                  </div>
                </a>
              </div>
              <div class="rbt-card-body">
                <div class="rbt-card-top">
                </div>
                <h4 class="rbt-card-title"><a href="/courses/course-details">Basics of Python</a>
                </h4>
                <p class="rbt-card-text">Angular Js long fact that a reader will be distracted by
                  the readable.</p>

                <div class="rbt-author-meta mb--20">
                  <div class="rbt-author-info">
                    By <a href="profile.html">Slaughter</a> In <a href="#">Languages</a>
                  </div>
                </div>
                <div class="rbt-card-bottom">
                  <div class="rbt-price">
                    <span class="current-price">$80</span>
                    <span class="off-price">$100</span>
                  </div>
                  <a class="btn btn-primary btn-lg" href="/courses/course-details" role="button">Enroll Now</a>
                </div>
              </div>
            </div>
          </div>
          <div class="bg-body col-sm mb-5 me-1 ms-2 p-3 rounded shadow">
            <div class="rbt-card variation-01 rbt-hover">
              <div class="rbt-card-img">
                <a href="/courses/course-details">
                  <img src="/static/assets/images/course/course-online-03.jpg" alt="Card image">
                  <div class="rbt-badge-3 bg-white">
                    <span>-10%</span>
                    <span>Off</span>
                  </div>
                </a>
              </div>
              <div class="rbt-card-body">
                <div class="rbt-card-top">
                </div>
                <h4 class="rbt-card-title"><a href="/courses/course-details">Python Advance</a>
                </h4>
                <p class="rbt-card-text">Angular Js long fact that a reader will be distracted by
                  the readable.</p>

                <div class="rbt-author-meta mb--20">
                  <div class="rbt-author-info">
                    By <a href="profile.html">Slaughter</a> In <a href="#">Languages</a>
                  </div>
                </div>
                <div class="rbt-card-bottom">
                  <div class="rbt-price">
                    <span class="current-price">$80</span>
                    <span class="off-price">$100</span>
                  </div>
                  <a class="btn btn-primary btn-lg" href="/courses/course-details" role="button">Enroll Now</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- TAB CONTENT FOR APP & WEB DEVELOPMENT COURSES -->
      <div class="tab-pane fade" id="pills-app-web-development" role="tabpanel" aria-labelledby="pills-app-web-development-tab" tabindex="0">

        <h5 class="card-title text-start py-5">
          Expand your career opportunities with APP & WEB DEVELOPMENT COURSES

        </h5>

        <div class="me-2 ms-0 row">





          <div class="bg-body col-sm mb-5 me-1 ms-2 p-3 rounded shadow">
            <div class="rbt-card variation-01 rbt-hover">
              <div class="rbt-card-img">
                <a href={% url 'course-details' %}>
                  <img src="{% static 'pagestyle/site-img/img/Course (1).png' %}" class="rounded card-img-top"
                    alt="...">
                  {% comment %} <div class="rbt-badge-3 bg-white">
                    <span>-10%</span>
                    <span>Off</span>
                  </div> {% endcomment %}
                </a>
              </div>
              <div class="rbt-card-body">
                <div class="rbt-card-top">
                </div>
                <h4 class="rbt-card-title"><a href={% url 'course-details' %}>Python Zero to Mastery</a>
                </h4>
                <p class="rbt-card-text">Angular Js long fact that a reader will be distracted by
                  the readable.</p>

                <div class="rbt-author-meta mb--20">
                  <div class="rbt-author-info">
                    By <a href="profile.html">Slaughter</a> In <a href="#">Python</a>
                  </div>
                </div>
                <div class="rbt-card-bottom">
                  <div class="rbt-price">
                    <span class="current-price">$80</span>
                    <span class="off-price">$100</span>
                  </div>

                </div>
              </div>
              {% comment %} <a class="btn btn-primary btn-lg" href="{% url 'course-details' %}" role="button">Enroll
                Now</a> {% endcomment %}
              <div class="row d-flex align-items-end">
                <a class="btn btn-primary btn-lg mt-5 px-5 py-3 fs-5" href="{% url 'course-details' %}"
                  role="button">Enroll Now</a>
                {% comment %} <button type="button" class="btn btn-primary mt-5 px-5 py-3 fs-5">Enroll
                  Now</button> {% endcomment %}
              </div>
            </div>
          </div>
          <div class="bg-body col-sm mb-5 me-1 ms-2 p-3 rounded shadow">
            <div class="rbt-card variation-01 rbt-hover">
              <div class="rbt-card-img">
                <a href={% url 'course-details' %}>
                  <img src="{% static 'pagestyle/site-img/img/Course (2).png' %}" class="rounded card-img-top"
                    alt="...">
                  {% comment %} <div class="rbt-badge-3 bg-white">
                    <span>-10%</span>
                    <span>Off</span>
                  </div> {% endcomment %}
                </a>
              </div>
              <div class="rbt-card-body">
                <div class="rbt-card-top">
                </div>
                <h4 class="rbt-card-title"><a href={% url 'course-details' %}>Python Zero to Mastery</a>
                </h4>
                <p class="rbt-card-text">Angular Js long fact that a reader will be distracted by
                  the readable.</p>

                <div class="rbt-author-meta mb--20">
                  <div class="rbt-author-info">
                    By <a href="profile.html">Slaughter</a> In <a href="#">Python</a>
                  </div>
                </div>
                <div class="rbt-card-bottom">
                  <div class="rbt-price">
                    <span class="current-price">$80</span>
                    <span class="off-price">$100</span>
                  </div>

                </div>
              </div>
              {% comment %} <a class="btn btn-primary btn-lg" href="{% url 'course-details' %}" role="button">Enroll
                Now</a> {% endcomment %}
              <div class="row d-flex align-items-end">
                <a class="btn btn-primary btn-lg mt-5 px-5 py-3 fs-5" href="{% url 'course-details' %}"
                  role="button">Enroll Now</a>
                {% comment %} <button type="button" class="btn btn-primary mt-5 px-5 py-3 fs-5">Enroll
                  Now</button> {% endcomment %}
              </div>
            </div>
          </div>
          <div class="bg-body col-sm mb-5 me-1 ms-2 p-3 rounded shadow">
            <div class="rbt-card variation-01 rbt-hover">
              <div class="rbt-card-img">
                <a href={% url 'course-details' %}>
                  <img src="{% static 'pagestyle/site-img/img/Course (3).png' %}" class="rounded card-img-top"
                    alt="...">
                  {% comment %} <div class="rbt-badge-3 bg-white">
                    <span>-10%</span>
                    <span>Off</span>
                  </div> {% endcomment %}
                </a>
              </div>
              <div class="rbt-card-body">
                <div class="rbt-card-top">
                </div>
                <h4 class="rbt-card-title"><a href={% url 'course-details' %}>Python Zero to Mastery</a>
                </h4>
                <p class="rbt-card-text">Angular Js long fact that a reader will be distracted by
                  the readable.</p>

                <div class="rbt-author-meta mb--20">
                  <div class="rbt-author-info">
                    By <a href="profile.html">Slaughter</a> In <a href="#">Python</a>
                  </div>
                </div>
                <div class="rbt-card-bottom">
                  <div class="rbt-price">
                    <span class="current-price">$80</span>
                    <span class="off-price">$100</span>
                  </div>

                </div>
              </div>
              {% comment %} <a class="btn btn-primary btn-lg" href="{% url 'course-details' %}" role="button">Enroll
                Now</a> {% endcomment %}
              <div class="row d-flex align-items-end">
                <a class="btn btn-primary btn-lg mt-5 px-5 py-3 fs-5" href="{% url 'course-details' %}"
                  role="button">Enroll Now</a>
                {% comment %} <button type="button" class="btn btn-primary mt-5 px-5 py-3 fs-5">Enroll
                  Now</button> {% endcomment %}
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- TAB CONTENT FOR  -->
      <div class="tab-pane fade" id="pills-digital-marketing" role="tabpanel" aria-labelledby="pills-digital-marketing-tab" tabindex="0">
        <h5 class="card-title text-start py-5">
          Expand your career opportunities with DIGITAL MARKETING COURSES

        </h5>
        <div class="me-2 ms-0 row">
          <div class="bg-body col-sm mb-5 me-1 ms-2 p-3 rounded shadow">
            <div class="rbt-card variation-01 rbt-hover">
              <div class="rbt-card-img">
                <a href={% url 'course-details' %}>
                  <img src="{% static 'pagestyle/site-img/img/Course (1).png' %}" class="rounded card-img-top"
                    alt="...">
                  {% comment %} <div class="rbt-badge-3 bg-white">
                    <span>-10%</span>
                    <span>Off</span>
                  </div> {% endcomment %}
                </a>
              </div>
              <div class="rbt-card-body">
                <div class="rbt-card-top">
                </div>
                <h4 class="rbt-card-title"><a href={% url 'course-details' %}>Java Zero to Mastery</a>
                </h4>
                <p class="rbt-card-text">Angular Js long fact that a reader will be distracted by
                  the readable.</p>

                <div class="rbt-author-meta mb--20">
                  <div class="rbt-author-info">
                    By <a href="profile.html">Slaughter</a> In <a href="#">Java</a>
                  </div>
                </div>
                <div class="rbt-card-bottom">
                  <div class="rbt-price">
                    <span class="current-price">$80</span>
                    <span class="off-price">$100</span>
                  </div>

                </div>
              </div>
              {% comment %} <a class="btn btn-primary btn-lg" href="{% url 'course-details' %}" role="button">Enroll
                Now</a> {% endcomment %}
              <div class="row d-flex align-items-end">
                <a class="btn btn-primary btn-lg mt-5 px-5 py-3 fs-5" href="{% url 'course-details' %}"
                  role="button">Enroll Now</a>
                {% comment %} <button type="button" class="btn btn-primary mt-5 px-5 py-3 fs-5">Enroll
                  Now</button> {% endcomment %}
              </div>
            </div>
          </div>
          <div class="bg-body col-sm mb-5 me-1 ms-2 p-3 rounded shadow">
            <div class="rbt-card variation-01 rbt-hover">
              <div class="rbt-card-img">
                <a href={% url 'course-details' %}>
                  <img src="{% static 'pagestyle/site-img/img/Course (2).png' %}" class="rounded card-img-top"
                    alt="...">
                  {% comment %} <div class="rbt-badge-3 bg-white">
                    <span>-10%</span>
                    <span>Off</span>
                  </div> {% endcomment %}
                </a>
              </div>
              <div class="rbt-card-body">
                <div class="rbt-card-top">
                </div>
                <h4 class="rbt-card-title"><a href={% url 'course-details' %}>Java Zero to Mastery</a>
                </h4>
                <p class="rbt-card-text">Angular Js long fact that a reader will be distracted by
                  the readable.</p>

                <div class="rbt-author-meta mb--20">
                  <div class="rbt-author-info">
                    By <a href="profile.html">Slaughter</a> In <a href="#">Java</a>
                  </div>
                </div>
                <div class="rbt-card-bottom">
                  <div class="rbt-price">
                    <span class="current-price">$80</span>
                    <span class="off-price">$100</span>
                  </div>

                </div>
              </div>
              {% comment %} <a class="btn btn-primary btn-lg" href="{% url 'course-details' %}" role="button">Enroll
                Now</a> {% endcomment %}
              <div class="row d-flex align-items-end">
                <a class="btn btn-primary btn-lg mt-5 px-5 py-3 fs-5" href="{% url 'course-details' %}"
                  role="button">Enroll Now</a>
                {% comment %} <button type="button" class="btn btn-primary mt-5 px-5 py-3 fs-5">Enroll
                  Now</button> {% endcomment %}
              </div>
            </div>
          </div>
          <div class="bg-body col-sm mb-5 me-1 ms-2 p-3 rounded shadow">
            <div class="rbt-card variation-01 rbt-hover">
              <div class="rbt-card-img">
                <a href={% url 'course-details' %}>
                  <img src="{% static 'pagestyle/site-img/img/Course (3).png' %}" class="rounded card-img-top"
                    alt="...">
                  {% comment %} <div class="rbt-badge-3 bg-white">
                    <span>-10%</span>
                    <span>Off</span>
                  </div> {% endcomment %}
                </a>
              </div>
              <div class="rbt-card-body">
                <div class="rbt-card-top">
                </div>
                <h4 class="rbt-card-title"><a href={% url 'course-details' %}>Java Zero to Mastery</a>
                </h4>
                <p class="rbt-card-text">Angular Js long fact that a reader will be distracted by
                  the readable.</p>

                <div class="rbt-author-meta mb--20">
                  <div class="rbt-author-info">
                    By <a href="profile.html">Slaughter</a> In <a href="#">Java</a>
                  </div>
                </div>
                <div class="rbt-card-bottom">
                  <div class="rbt-price">
                    <span class="current-price">$80</span>
                    <span class="off-price">$100</span>
                  </div>

                </div>
              </div>
              {% comment %} <a class="btn btn-primary btn-lg" href="{% url 'course-details' %}" role="button">Enroll
                Now</a> {% endcomment %}
              <div class="row d-flex align-items-end">
                <a class="btn btn-primary btn-lg mt-5 px-5 py-3 fs-5" href="{% url 'course-details' %}"
                  role="button">Enroll Now</a>
                {% comment %} <button type="button" class="btn btn-primary mt-5 px-5 py-3 fs-5">Enroll
                  Now</button> {% endcomment %}
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- TAB CONTENT FOR GRAPHIC DESIGNING COURSES -->
      <div class="tab-pane fade" id="pills-graphics-designing" role="tabpanel" aria-labelledby="pills-graphics-designing-tab" tabindex="0">
        <h5 class="card-title text-start py-5">
          Expand your career opportunities with GRAPHIC DESIGNING COURSES

        </h5>
        <div class="me-2 ms-0 row">
          <div class="bg-body col-sm mb-5 me-1 ms-2 p-3 rounded shadow">
            <div class="rbt-card variation-01 rbt-hover">
              <div class="rbt-card-img">
                <a href={% url 'course-details' %}>
                  <img src="{% static 'pagestyle/site-img/img/Course (1).png' %}" class="rounded card-img-top"
                    alt="...">
                  {% comment %} <div class="rbt-badge-3 bg-white">
                    <span>-10%</span>
                    <span>Off</span>
                  </div> {% endcomment %}
                </a>
              </div>
              <div class="rbt-card-body">
                <div class="rbt-card-top">
                </div>
                <h4 class="rbt-card-title"><a href={% url 'course-details' %}>Django Zero to Mastery</a>
                </h4>
                <p class="rbt-card-text">Angular Js long fact that a reader will be distracted by
                  the readable.</p>

                <div class="rbt-author-meta mb--20">
                  <div class="rbt-author-info">
                    By <a href="profile.html">Slaughter</a> In <a href="#">Django</a>
                  </div>
                </div>
                <div class="rbt-card-bottom">
                  <div class="rbt-price">
                    <span class="current-price">$80</span>
                    <span class="off-price">$100</span>
                  </div>

                </div>
              </div>
              {% comment %} <a class="btn btn-primary btn-lg" href="{% url 'course-details' %}" role="button">Enroll
                Now</a> {% endcomment %}
              <div class="row d-flex align-items-end">
                <a class="btn btn-primary btn-lg mt-5 px-5 py-3 fs-5" href="{% url 'course-details' %}"
                  role="button">Enroll Now</a>
                {% comment %} <button type="button" class="btn btn-primary mt-5 px-5 py-3 fs-5">Enroll
                  Now</button> {% endcomment %}
              </div>
            </div>
          </div>
          <div class="bg-body col-sm mb-5 me-1 ms-2 p-3 rounded shadow">
            <div class="rbt-card variation-01 rbt-hover">
              <div class="rbt-card-img">
                <a href={% url 'course-details' %}>
                  <img src="{% static 'pagestyle/site-img/img/Course (2).png' %}" class="rounded card-img-top"
                    alt="...">
                  {% comment %} <div class="rbt-badge-3 bg-white">
                    <span>-10%</span>
                    <span>Off</span>
                  </div> {% endcomment %}
                </a>
              </div>
              <div class="rbt-card-body">
                <div class="rbt-card-top">
                </div>
                <h4 class="rbt-card-title"><a href={% url 'course-details' %}>Django Zero to Mastery</a>
                </h4>
                <p class="rbt-card-text">Angular Js long fact that a reader will be distracted by
                  the readable.</p>

                <div class="rbt-author-meta mb--20">
                  <div class="rbt-author-info">
                    By <a href="profile.html">Slaughter</a> In <a href="#">Django</a>
                  </div>
                </div>
                <div class="rbt-card-bottom">
                  <div class="rbt-price">
                    <span class="current-price">$80</span>
                    <span class="off-price">$100</span>
                  </div>

                </div>
              </div>
              {% comment %} <a class="btn btn-primary btn-lg" href="{% url 'course-details' %}" role="button">Enroll
                Now</a> {% endcomment %}
              <div class="row d-flex align-items-end">
                <a class="btn btn-primary btn-lg mt-5 px-5 py-3 fs-5" href="{% url 'course-details' %}"
                  role="button">Enroll Now</a>
                {% comment %} <button type="button" class="btn btn-primary mt-5 px-5 py-3 fs-5">Enroll
                  Now</button> {% endcomment %}
              </div>
            </div>
          </div>
          <div class="bg-body col-sm mb-5 me-1 ms-2 p-3 rounded shadow">
            <div class="rbt-card variation-01 rbt-hover">
              <div class="rbt-card-img">
                <a href={% url 'course-details' %}>
                  <img src="{% static 'pagestyle/site-img/img/Course (3).png' %}" class="rounded card-img-top"
                    alt="...">
                  {% comment %} <div class="rbt-badge-3 bg-white">
                    <span>-10%</span>
                    <span>Off</span>
                  </div> {% endcomment %}
                </a>
              </div>
              <div class="rbt-card-body">
                <div class="rbt-card-top">
                </div>
                <h4 class="rbt-card-title"><a href={% url 'course-details' %}>Django Zero to Mastery</a>
                </h4>
                <p class="rbt-card-text">Angular Js long fact that a reader will be distracted by
                  the readable.</p>

                <div class="rbt-author-meta mb--20">
                  <div class="rbt-author-info">
                    By <a href="profile.html">Slaughter</a> In <a href="#">Django</a>
                  </div>
                </div>
                <div class="rbt-card-bottom">
                  <div class="rbt-price">
                    <span class="current-price">$80</span>
                    <span class="off-price">$100</span>
                  </div>

                </div>
              </div>
              {% comment %} <a class="btn btn-primary btn-lg" href="{% url 'course-details' %}" role="button">Enroll
                Now</a> {% endcomment %}
              <div class="row d-flex align-items-end">
                <a class="btn btn-primary btn-lg mt-5 px-5 py-3 fs-5" href="{% url 'course-details' %}"
                  role="button">Enroll Now</a>
                {% comment %} <button type="button" class="btn btn-primary mt-5 px-5 py-3 fs-5">Enroll
                  Now</button> {% endcomment %}
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- TAB CONTENT FOR PYTHON PROGRAMMING COURSES -->
      <div class="tab-pane fade" id="pills-python-programming" role="tabpanel" aria-labelledby="pills-python-programming-tab" tabindex="0">
        <h5 class="card-title text-start py-5">
          Expand your career opportunities with PYTHON PROGRAMMING COURSES

        </h5>
        <div class="me-2 ms-0 row">
          <div class="bg-body col-sm mb-5 me-1 ms-2 p-3 rounded shadow">
            <div class="rbt-card variation-01 rbt-hover">
              <div class="rbt-card-img">
                <a href={% url 'course-details' %}>
                  <img src="{% static 'pagestyle/site-img/img/Course (1).png' %}" class="rounded card-img-top"
                    alt="...">
                  {% comment %} <div class="rbt-badge-3 bg-white">
                    <span>-10%</span>
                    <span>Off</span>
                  </div> {% endcomment %}
                </a>
              </div>
              <div class="rbt-card-body">
                <div class="rbt-card-top">
                </div>
                <h4 class="rbt-card-title"><a href={% url 'course-details' %}>Django Zero to Mastery</a>
                </h4>
                <p class="rbt-card-text">Angular Js long fact that a reader will be distracted by
                  the readable.</p>

                <div class="rbt-author-meta mb--20">
                  <div class="rbt-author-info">
                    By <a href="profile.html">Slaughter</a> In <a href="#">Django</a>
                  </div>
                </div>
                <div class="rbt-card-bottom">
                  <div class="rbt-price">
                    <span class="current-price">$80</span>
                    <span class="off-price">$100</span>
                  </div>

                </div>
              </div>
              {% comment %} <a class="btn btn-primary btn-lg" href="{% url 'course-details' %}" role="button">Enroll
                Now</a> {% endcomment %}
              <div class="row d-flex align-items-end">
                <a class="btn btn-primary btn-lg mt-5 px-5 py-3 fs-5" href="{% url 'course-details' %}"
                  role="button">Enroll Now</a>
                {% comment %} <button type="button" class="btn btn-primary mt-5 px-5 py-3 fs-5">Enroll
                  Now</button> {% endcomment %}
              </div>
            </div>
          </div>
          <div class="bg-body col-sm mb-5 me-1 ms-2 p-3 rounded shadow">
            <div class="rbt-card variation-01 rbt-hover">
              <div class="rbt-card-img">
                <a href={% url 'course-details' %}>
                  <img src="{% static 'pagestyle/site-img/img/Course (2).png' %}" class="rounded card-img-top"
                    alt="...">
                  {% comment %} <div class="rbt-badge-3 bg-white">
                    <span>-10%</span>
                    <span>Off</span>
                  </div> {% endcomment %}
                </a>
              </div>
              <div class="rbt-card-body">
                <div class="rbt-card-top">
                </div>
                <h4 class="rbt-card-title"><a href={% url 'course-details' %}>Django Zero to Mastery</a>
                </h4>
                <p class="rbt-card-text">Angular Js long fact that a reader will be distracted by
                  the readable.</p>

                <div class="rbt-author-meta mb--20">
                  <div class="rbt-author-info">
                    By <a href="profile.html">Slaughter</a> In <a href="#">Django</a>
                  </div>
                </div>
                <div class="rbt-card-bottom">
                  <div class="rbt-price">
                    <span class="current-price">$80</span>
                    <span class="off-price">$100</span>
                  </div>

                </div>
              </div>
              {% comment %} <a class="btn btn-primary btn-lg" href="{% url 'course-details' %}" role="button">Enroll
                Now</a> {% endcomment %}
              <div class="row d-flex align-items-end">
                <a class="btn btn-primary btn-lg mt-5 px-5 py-3 fs-5" href="{% url 'course-details' %}"
                  role="button">Enroll Now</a>
                {% comment %} <button type="button" class="btn btn-primary mt-5 px-5 py-3 fs-5">Enroll
                  Now</button> {% endcomment %}
              </div>
            </div>
          </div>
          <div class="bg-body col-sm mb-5 me-1 ms-2 p-3 rounded shadow">
            <div class="rbt-card variation-01 rbt-hover">
              <div class="rbt-card-img">
                <a href={% url 'course-details' %}>
                  <img src="{% static 'pagestyle/site-img/img/Course (3).png' %}" class="rounded card-img-top"
                    alt="...">
                  {% comment %} <div class="rbt-badge-3 bg-white">
                    <span>-10%</span>
                    <span>Off</span>
                  </div> {% endcomment %}
                </a>
              </div>
              <div class="rbt-card-body">
                <div class="rbt-card-top">
                </div>
                <h4 class="rbt-card-title"><a href={% url 'course-details' %}>Django Zero to Mastery</a>
                </h4>
                <p class="rbt-card-text">Angular Js long fact that a reader will be distracted by
                  the readable.</p>

                <div class="rbt-author-meta mb--20">
                  <div class="rbt-author-info">
                    By <a href="profile.html">Slaughter</a> In <a href="#">Django</a>
                  </div>
                </div>
                <div class="rbt-card-bottom">
                  <div class="rbt-price">
                    <span class="current-price">$80</span>
                    <span class="off-price">$100</span>
                  </div>

                </div>
              </div>
              {% comment %} <a class="btn btn-primary btn-lg" href="{% url 'course-details' %}" role="button">Enroll
                Now</a> {% endcomment %}
              <div class="row d-flex align-items-end">
                <a class="btn btn-primary btn-lg mt-5 px-5 py-3 fs-5" href="{% url 'course-details' %}"
                  role="button">Enroll Now</a>
                {% comment %} <button type="button" class="btn btn-primary mt-5 px-5 py-3 fs-5">Enroll
                  Now</button> {% endcomment %}
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- TAB CONTENT FOR ARTIFICIAL INTELLIGENCE COURSES -->
      <div class="tab-pane fade" id="pills-artificial-intelligence" role="tabpanel" aria-labelledby="pills-artificial-intelligence-tab" tabindex="0">
        <h5 class="card-title text-start py-5">
          Expand your career opportunities with ARTIFICIAL INTELLIGENCE COURSES

        </h5>
        <div class="me-2 ms-0 row">
          <div class="bg-body col-sm mb-5 me-1 ms-2 p-3 rounded shadow">
            <div class="rbt-card variation-01 rbt-hover">
              <div class="rbt-card-img">
                <a href={% url 'course-details' %}>
                  <img src="{% static 'pagestyle/site-img/img/Course (1).png' %}" class="rounded card-img-top"
                    alt="...">
                  {% comment %} <div class="rbt-badge-3 bg-white">
                    <span>-10%</span>
                    <span>Off</span>
                  </div> {% endcomment %}
                </a>
              </div>
              <div class="rbt-card-body">
                <div class="rbt-card-top">
                </div>
                <h4 class="rbt-card-title"><a href={% url 'course-details' %}>Django Zero to Mastery</a>
                </h4>
                <p class="rbt-card-text">Angular Js long fact that a reader will be distracted by
                  the readable.</p>

                <div class="rbt-author-meta mb--20">
                  <div class="rbt-author-info">
                    By <a href="profile.html">Slaughter</a> In <a href="#">Django</a>
                  </div>
                </div>
                <div class="rbt-card-bottom">
                  <div class="rbt-price">
                    <span class="current-price">$80</span>
                    <span class="off-price">$100</span>
                  </div>

                </div>
              </div>
              {% comment %} <a class="btn btn-primary btn-lg" href="{% url 'course-details' %}" role="button">Enroll
                Now</a> {% endcomment %}
              <div class="row d-flex align-items-end">
                <a class="btn btn-primary btn-lg mt-5 px-5 py-3 fs-5" href="{% url 'course-details' %}"
                  role="button">Enroll Now</a>
                {% comment %} <button type="button" class="btn btn-primary mt-5 px-5 py-3 fs-5">Enroll
                  Now</button> {% endcomment %}
              </div>
            </div>
          </div>
          <div class="bg-body col-sm mb-5 me-1 ms-2 p-3 rounded shadow">
            <div class="rbt-card variation-01 rbt-hover">
              <div class="rbt-card-img">
                <a href={% url 'course-details' %}>
                  <img src="{% static 'pagestyle/site-img/img/Course (2).png' %}" class="rounded card-img-top"
                    alt="...">
                  {% comment %} <div class="rbt-badge-3 bg-white">
                    <span>-10%</span>
                    <span>Off</span>
                  </div> {% endcomment %}
                </a>
              </div>
              <div class="rbt-card-body">
                <div class="rbt-card-top">
                </div>
                <h4 class="rbt-card-title"><a href={% url 'course-details' %}>Django Zero to Mastery</a>
                </h4>
                <p class="rbt-card-text">Angular Js long fact that a reader will be distracted by
                  the readable.</p>

                <div class="rbt-author-meta mb--20">
                  <div class="rbt-author-info">
                    By <a href="profile.html">Slaughter</a> In <a href="#">Django</a>
                  </div>
                </div>
                <div class="rbt-card-bottom">
                  <div class="rbt-price">
                    <span class="current-price">$80</span>
                    <span class="off-price">$100</span>
                  </div>

                </div>
              </div>
              {% comment %} <a class="btn btn-primary btn-lg" href="{% url 'course-details' %}" role="button">Enroll
                Now</a> {% endcomment %}
              <div class="row d-flex align-items-end">
                <a class="btn btn-primary btn-lg mt-5 px-5 py-3 fs-5" href="{% url 'course-details' %}"
                  role="button">Enroll Now</a>
                {% comment %} <button type="button" class="btn btn-primary mt-5 px-5 py-3 fs-5">Enroll
                  Now</button> {% endcomment %}
              </div>
            </div>
          </div>
          <div class="bg-body col-sm mb-5 me-1 ms-2 p-3 rounded shadow">
            <div class="rbt-card variation-01 rbt-hover">
              <div class="rbt-card-img">
                <a href={% url 'course-details' %}>
                  <img src="{% static 'pagestyle/site-img/img/Course (3).png' %}" class="rounded card-img-top"
                    alt="...">
                  {% comment %} <div class="rbt-badge-3 bg-white">
                    <span>-10%</span>
                    <span>Off</span>
                  </div> {% endcomment %}
                </a>
              </div>
              <div class="rbt-card-body">
                <div class="rbt-card-top">
                </div>
                <h4 class="rbt-card-title"><a href={% url 'course-details' %}>Django Zero to Mastery</a>
                </h4>
                <p class="rbt-card-text">Angular Js long fact that a reader will be distracted by
                  the readable.</p>

                <div class="rbt-author-meta mb--20">
                  <div class="rbt-author-info">
                    By <a href="profile.html">Slaughter</a> In <a href="#">Django</a>
                  </div>
                </div>
                <div class="rbt-card-bottom">
                  <div class="rbt-price">
                    <span class="current-price">$80</span>
                    <span class="off-price">$100</span>
                  </div>

                </div>
              </div>
              {% comment %} <a class="btn btn-primary btn-lg" href="{% url 'course-details' %}" role="button">Enroll
                Now</a> {% endcomment %}
              <div class="row d-flex align-items-end">
                <a class="btn btn-primary btn-lg mt-5 px-5 py-3 fs-5" href="{% url 'course-details' %}"
                  role="button">Enroll Now</a>
                {% comment %} <button type="button" class="btn btn-primary mt-5 px-5 py-3 fs-5">Enroll
                  Now</button> {% endcomment %}
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- TAB CONTENT FOR GOVERNMENT EXAMS COURSES -->
      <div class="tab-pane fade" id="pills-government-exams" role="tabpanel" aria-labelledby="pills-government-exams-tab" tabindex="0">
        <h5 class="card-title text-start py-5">
          Expand your career opportunities with GOVERNMENT EXAMS COURSES
          
        </h5>
        <div class="me-2 ms-0 row">
          <div class="bg-body col-sm mb-5 me-1 ms-2 p-3 rounded shadow">
            <div class="rbt-card variation-01 rbt-hover">
              <div class="rbt-card-img">
                <a href={% url 'course-details' %}>
                  <img src="{% static 'pagestyle/site-img/img/Course (1).png' %}" class="rounded card-img-top"
                    alt="...">
                  {% comment %} <div class="rbt-badge-3 bg-white">
                    <span>-10%</span>
                    <span>Off</span>
                  </div> {% endcomment %}
                </a>
              </div>
              <div class="rbt-card-body">
                <div class="rbt-card-top">
                </div>
                <h4 class="rbt-card-title"><a href={% url 'course-details' %}>Django Zero to Mastery</a>
                </h4>
                <p class="rbt-card-text">Angular Js long fact that a reader will be distracted by
                  the readable.</p>

                <div class="rbt-author-meta mb--20">
                  <div class="rbt-author-info">
                    By <a href="profile.html">Slaughter</a> In <a href="#">Django</a>
                  </div>
                </div>
                <div class="rbt-card-bottom">
                  <div class="rbt-price">
                    <span class="current-price">$80</span>
                    <span class="off-price">$100</span>
                  </div>

                </div>
              </div>
              {% comment %} <a class="btn btn-primary btn-lg" href="{% url 'course-details' %}" role="button">Enroll
                Now</a> {% endcomment %}
              <div class="row d-flex align-items-end">
                <a class="btn btn-primary btn-lg mt-5 px-5 py-3 fs-5" href="{% url 'course-details' %}"
                  role="button">Enroll Now</a>
                {% comment %} <button type="button" class="btn btn-primary mt-5 px-5 py-3 fs-5">Enroll
                  Now</button> {% endcomment %}
              </div>
            </div>
          </div>
          <div class="bg-body col-sm mb-5 me-1 ms-2 p-3 rounded shadow">
            <div class="rbt-card variation-01 rbt-hover">
              <div class="rbt-card-img">
                <a href={% url 'course-details' %}>
                  <img src="{% static 'pagestyle/site-img/img/Course (2).png' %}" class="rounded card-img-top"
                    alt="...">
                  {% comment %} <div class="rbt-badge-3 bg-white">
                    <span>-10%</span>
                    <span>Off</span>
                  </div> {% endcomment %}
                </a>
              </div>
              <div class="rbt-card-body">
                <div class="rbt-card-top">
                </div>
                <h4 class="rbt-card-title"><a href={% url 'course-details' %}>Django Zero to Mastery</a>
                </h4>
                <p class="rbt-card-text">Angular Js long fact that a reader will be distracted by
                  the readable.</p>

                <div class="rbt-author-meta mb--20">
                  <div class="rbt-author-info">
                    By <a href="profile.html">Slaughter</a> In <a href="#">Django</a>
                  </div>
                </div>
                <div class="rbt-card-bottom">
                  <div class="rbt-price">
                    <span class="current-price">$80</span>
                    <span class="off-price">$100</span>
                  </div>

                </div>
              </div>
              {% comment %} <a class="btn btn-primary btn-lg" href="{% url 'course-details' %}" role="button">Enroll
                Now</a> {% endcomment %}
              <div class="row d-flex align-items-end">
                <a class="btn btn-primary btn-lg mt-5 px-5 py-3 fs-5" href="{% url 'course-details' %}"
                  role="button">Enroll Now</a>
                {% comment %} <button type="button" class="btn btn-primary mt-5 px-5 py-3 fs-5">Enroll
                  Now</button> {% endcomment %}
              </div>
            </div>
          </div>
          <div class="bg-body col-sm mb-5 me-1 ms-2 p-3 rounded shadow">
            <div class="rbt-card variation-01 rbt-hover">
              <div class="rbt-card-img">
                <a href={% url 'course-details' %}>
                  <img src="{% static 'pagestyle/site-img/img/Course (3).png' %}" class="rounded card-img-top"
                    alt="...">
                  {% comment %} <div class="rbt-badge-3 bg-white">
                    <span>-10%</span>
                    <span>Off</span>
                  </div> {% endcomment %}
                </a>
              </div>
              <div class="rbt-card-body">
                <div class="rbt-card-top">
                </div>
                <h4 class="rbt-card-title"><a href={% url 'course-details' %}>Django Zero to Mastery</a>
                </h4>
                <p class="rbt-card-text">Angular Js long fact that a reader will be distracted by
                  the readable.</p>

                <div class="rbt-author-meta mb--20">
                  <div class="rbt-author-info">
                    By <a href="profile.html">Slaughter</a> In <a href="#">Django</a>
                  </div>
                </div>
                <div class="rbt-card-bottom">
                  <div class="rbt-price">
                    <span class="current-price">$80</span>
                    <span class="off-price">$100</span>
                  </div>

                </div>
              </div>
              {% comment %} <a class="btn btn-primary btn-lg" href="{% url 'course-details' %}" role="button">Enroll
                Now</a> {% endcomment %}
              <div class="row d-flex align-items-end">
                <a class="btn btn-primary btn-lg mt-5 px-5 py-3 fs-5" href="{% url 'course-details' %}"
                  role="button">Enroll Now</a>
                {% comment %} <button type="button" class="btn btn-primary mt-5 px-5 py-3 fs-5">Enroll
                  Now</button> {% endcomment %}
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>
<!--  Tabs End -->







{% endblock content %}


app-web-development
digital-marketing
graphics-designing
python-programming
artificial-intelligence
government-exams
