{% extends 'base.html' %}
{% load static %}
{% block content %}

<main>
    <div class="container">

        <div class="row p-4 my-5" style="background-color: #fbfbfb">
            <div class="col-6">
                <h1 class="display-1 fw-bold text-body-emphasis lh-1 mb-3">
                    Online <span class="text-primary">Learning</span>
                </h1>
                <h1 class="display-1 fw-bold text-body-emphasis lh-1 mb-3">
                    you can access
                </h1>
                <h1 class="display-1 fw-bold text-body-emphasis lh-1 mb-3">
                    anywhere <span class="text-primary">Easily</span>
                </h1>

                <p class=" fs-2 lead text-secondary fw-semibold">
                    a solution for easy and flexible online Learning. you can learn
                    with this anywhere through this platform.
                </p>
                <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                    <button type="button" class="btn btn-primary btn-lg px-5 py-4 fs-1">
                        Explore
                        <span><img src="{% static 'pagestyle\site-img\img\Arrow.png' %}" style="width: 1.5rem"
                                alt="" /></span>
                    </button>
                </div>
                <div style="display: flex; padding: 30px 0">
                    <div class="row">
                        <div class="col-lg-4 col-sm-12">
                            <span>
                                <h6 class="fw-bold">
                                    <img src="{% static 'pagestyle\site-img\img\Check.png' %}" alt="" />Experienced
                                    Mentors
                                </h6>
                            </span>
                        </div>
                        <div class="col-lg-4 col-sm-12">
                            <span>
                                <h6 class="fw-bold">
                                    <img src="{% static 'pagestyle\site-img\img\Check.png' %}" alt="" />Experienced
                                    Mentors
                                </h6>
                            </span>
                        </div>
                        <div class="col-lg-4 col-sm-12">
                            <span>
                                <h6 class="fw-bold">
                                    <img src="{% static 'pagestyle\site-img\img\Check.png' %}" alt="" />Experienced
                                    Mentors
                                </h6>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 p-5">
                <img src="{% static 'pagestyle\site-img\img\Group 106.png' %}" class="d-block mx-lg-auto img-fluid"
                    alt="Bootstrap Themes" width="400" height="400" />
            </div>
        </div>

        <div class="b-example-divider py-4"></div>

        <!-- Why online learning method -->
        <div class="row my-5">
            <div class="col-md-6 p-5">
                <h1 class="display-4 fw-bold">Why online Learning Method</h1>
                <p class="display-6 fw-medium text-secondary">
                    Studying online teaches important time management skills, which
                    makes it easier for you to find a good work-study balance.
                </p>
            </div>
            <div class="col">
                <div class="row row-cols-1 row-cols-md-2 g-4">
                    <div class="col">
                        <div class="card p-4 m-4">
                            <img src="{% static 'pagestyle\site-img\img\New folder\EllipseBlue.png' %}"
                                class="card-img-top p-2" style="width: 6rem" alt="..." />
                            <div class="card-body">
                                <h4 class="card-title fw-bold">500+</h4>
                                <h4 class="card-title fw-bold">Expert Mentors</h4>
                                <p class="card-text">
                                    This is a longer card with supporting text below as a
                                    natural lead-in to additional content. This content is a
                                    little bit longer.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card p-4 m-4">
                            <img src="{% static 'pagestyle\site-img\img\New folder\EllipseOrange.png' %}"
                                class="card-img-top p-2" style="width: 6rem" alt="..." />
                            <div class="card-body">
                                <h4 class="card-title fw-bold">500+</h4>
                                <h4 class="card-title fw-bold">Expert Mentors</h4>
                                <p class="card-text">
                                    This is a longer card with supporting text below as a
                                    natural lead-in to additional content. This content is a
                                    little bit longer.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card p-4 m-4">
                            <img src="{% static 'pagestyle\site-img\img\New folder\EllipseViolet.png' %}"
                                class="card-img-top p-2" style="width: 6rem" alt="..." />
                            <div class="card-body">
                                <h4 class="card-title fw-bold">500+</h4>
                                <h4 class="card-title fw-bold">Expert Mentors</h4>
                                <p class="card-text">
                                    This is a longer card with supporting text below as a
                                    natural lead-in to additional content. This content is a
                                    little bit longer.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card p-4 m-4">
                            <img src="{% static 'pagestyle\site-img\img\New folder\EllipseYellow.png' %}"
                                class="card-img-top p-2" style="width: 6rem" alt="..." />
                            <div class="card-body">
                                <h4 class="card-title fw-bold">500+</h4>
                                <h4 class="card-title fw-bold">Expert Mentors</h4>
                                <p class="card-text">
                                    This is a longer card with supporting text below as a
                                    natural lead-in to additional content. This content is a
                                    little bit longer.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="b-example-divider py-5 my-5"></div>

        <!-- Our Team -->
        <div class="row p-5 my-5">
            <div class="col text-center">
                <h1 class="fw-bold my-3">Our Team</h1>
                <h5 class="text-secondary fw-semibold">
                    We are the company that raises coming leaders of India
                </h5>
            </div>
            <div class="row my-5">
                <div class="row">

                    <div class="col-4">
                        <div class="mb-3" style=" max-width: 540px; background-color: #f1f1fb; border-radius: 1em; ">
                            <div class="row g-0">
                                <div class="col-md-5">
                                    <div class="m-4"
                                        style=" width: 120px; height: 120px; border-radius: 75px; background-color: white;">
                                        <img src="{% static 'pagestyle/site-img/img/JohnDoe1.png' %}"
                                            class="img-fluid rounded-start p-3" alt="..." />
                                    </div>
                                </div>
                                <div class="col-md-7">
                                    <div class="card-body my-3">
                                        <h3 class="card-title fw-bold">John Doe</h3>
                                        <h6 class="card-text fw-bold text-primary">
                                            App Development
                                        </h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="mb-3" style=" max-width: 540px; background-color: #f1f1fb; border-radius: 1em; ">
                            <div class="row g-0">
                                <div class="col-md-5">
                                    <div class="m-4"
                                        style=" width: 120px; height: 120px; border-radius: 75px; background-color: white;">
                                        <img src="{% static 'pagestyle/site-img/img/JohnDoe2.png' %}"
                                            class="img-fluid rounded-start p-3" alt="..." />
                                    </div>
                                </div>
                                <div class="col-md-7">
                                    <div class="card-body my-3">
                                        <h3 class="card-title fw-bold">John Doe</h3>
                                        <h6 class="card-text fw-bold text-primary">
                                            App Development
                                        </h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="mb-3" style=" max-width: 540px; background-color: #f1f1fb; border-radius: 1em; ">
                            <div class="row g-0">
                                <div class="col-md-5">
                                    <div class="m-4"
                                        style=" width: 120px; height: 120px; border-radius: 75px; background-color: white;">
                                        <img src="{% static 'pagestyle/site-img/img/JohnDoe3.png' %}"
                                            class="img-fluid rounded-start p-3" alt="..." />
                                    </div>
                                </div>
                                <div class="col-md-7">
                                    <div class="card-body my-3">
                                        <h3 class="card-title fw-bold">John Doe</h3>
                                        <h6 class="card-text fw-bold text-primary">
                                            App Development
                                        </h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="b-example-divider py-5 my-5"></div>


        <!-- Why this e-learning platform -->
        <div class="col py-4 my-4">
            <div class="row justify-content-center align-items-center g-2 py-5">
                <div class="col-12 text-center">
                    <h1 class="fw-bold display-4">Why this E-Learning</h1>
                    <h1 class="fw-bold display-4">Platform ?</h1>
                    <h4 class="fw-medium text-secondary">
                        Lorem ipsum dolor sit amet
                    </h4>
                </div>
            </div>
            <div class="row justify-content-center align-items-center g-2 p-5">
                <div class="col-3">
                    <div class="card d-flex justify-content-center align-items-center py-5" style="width: 25rem">
                        <img src="{% static 'pagestyle/site-img/img/GirlSolvingProblemWithPhone.png' %}"
                            style="width: 100px" class="card-img-top" alt="..." />
                        <div class="card-body text-center">
                            <h5 class="card-title">Problem Solving</h5>
                            <p class="card-text">Some quick example text</p>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="card d-flex justify-content-center align-items-center py-5" style="width: 25rem">
                        <img src="{% static 'pagestyle/site-img/img/OnlineMeetings.png' %}" style="width: 100px"
                            class="card-img-top" alt="..." />
                        <div class="card-body text-center">
                            <h5 class="card-title">Communication</h5>
                            <p class="card-text">Some quick example text</p>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="card d-flex justify-content-center align-items-center py-5" style="width: 25rem">
                        <img src="{% static 'pagestyle/site-img/img/ConsultingAndBusinessPlanning.png' %}"
                            style="width: 100px" class="card-img-top" alt="..." />
                        <div class="card-body text-center">
                            <h5 class="card-title">Planning</h5>
                            <p class="card-text">Some quick example text</p>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="card d-flex justify-content-center align-items-center py-5" style="width: 25rem">
                        <img src="{% static 'pagestyle/site-img/img/ColleaguesDiscussingTeamProject.png' %}"
                            style="width: 100px" class="card-img-top" alt="..." />
                        <div class="card-body text-center">
                            <h5 class="card-title">Team Work</h5>
                            <p class="card-text">Some quick example text</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</main>

<!--footer start -->

<footer class="d-flex flex-wrap justify-content-between align-items-center p-5 mt-5 border-top"
    style="background-color: #f1f1fb">
    <p class="col-md-4 mb-0 text-body-secondary">
        <img src="{% static 'pagestyle\site-img\img\Logoipusm.png' %}" alt="" />
    </p>

    <a href="/"
        class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
    </a>

    <ul class="nav col-md-4 justify-content-end">
        <li class="nav-item">
            <a href="#" class="nav-link px-2 text-body-secondary">Home</a>
        </li>
        <li class="nav-item">
            <a href="About.html" class="nav-link px-2 text-body-secondary">About us
            </a>
        </li>
        <li class="nav-item">
            <a href="contact.html" class="nav-link px-2 text-body-secondary">Contact Us</a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link px-2 text-body-secondary">Terms</a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link px-2 text-body-secondary">PrivacyPolicy</a>
        </li>
    </ul>
</footer>

<!--footer end -->


{% endblock content %}