{% extends 'base.html' %}
{% load static %}

{% block content %}


<!-- main body-->

<div class="container">
    <!-- Container Start -->

    <!-- Hero Section -->
    <div id="hero" class="row flex-lg-row-reverse justify-content-center align-items-center g-5 py-5">
        <!-- Image -->
        <div class="col-10 col-sm-8 col-lg-6">
            <img src="{% static 'pagestyle\site-img\img\HeroAvatar.png' %}" class="d-block mx-lg-auto img-fluid"
                alt="Bootstrap Themes" width="700" height="500" loading="lazy">
        </div>
        <!-- Text -->
        <div id="hero_text" class="col-10 col-sm-8 col-lg-6">
            <h1 class="display-1 fw-bold text-body-emphasis lh-1 py-2">Learn from</h1>
            <h1 class="display-2 fw-bold text-body-emphasis lh-1 py-2">the <span class="text-primary"> Experts</span>
            </h1>
            <p class="lead text-uppercase fw-bold text-primary">
                Education without leaving home.
            </p>
            <button type="button" class="btn btn-primary btn-lg px-4 py-3 fs-1">Get Started</button>
        </div>
    </div>
    <!-- Cards -->
    <div class="mb-5 py-5">
        <div id="hero_card_group" class="row d-flex justify-content-between">
            <div id="hero_card_group_item" class="col-4 p-5">
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0 p-2">
                        <div class="col-md-4">
                            <img src="{% static 'pagestyle\site-img\img\TwoYoungMen.png' %}"
                                class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">200K+</h5>
                                <p class="card-text">Total Students</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="hero_card_group_item" class="col-4 p-5">
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="{% static 'pagestyle\site-img\img\Cat lying on books.png' %}"
                                class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">200K+</h5>
                                <p class="card-text">Total Students</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="hero_card_group_item" class="col-4 p-5">
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="{% static 'pagestyle\site-img\img\Rating.png' %}" class="img-fluid rounded-start"
                                alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">200K+</h5>
                                <p class="card-text">Total Students</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Hero section End -->


    <div class="b-example-divider m-5 p-5"></div>

    <!-- Why are we the best START-->
    <div class="my-5 p-5">
        <div class="card-header p-5 mb-4 text-center">
            <h1 class="fw-bold">Why are we the best?</h1>
            <h5 class="fw-bold text-secondary">Apart from many benefits, we are the complete solution for your online
                learning.</h5>
        </div>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
                <div class="card p-4">
                    <img src="{% static 'pagestyle\site-img\img\New folder\EllipseYellow.png' %}" style="width: 100px;"
                        class="card-img-top p-3" alt="...">
                    <div class="card-body row-5">
                        <h3 class="card-title fw-bold">500K+</h3>
                        <h3 class="card-title fw-bold">Expert Mentors</h3>
                        <p class="card-text">
                            This is a longer card with supporting text below as a natural lead-in to additional content.
                            This content
                            is a little bit longer.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card p-4">
                    <img src="{% static 'pagestyle\site-img\img\New folder\EllipseYellow.png' %}" style="width: 100px;"
                        class="card-img-top p-3" alt="...">
                    <div class="card-body row-5">
                        <h3 class="card-title fw-bold">500K+</h3>
                        <h3 class="card-title fw-bold">Expert Mentors</h3>
                        <p class="card-text">
                            This is a longer card with supporting text below as a natural lead-in to additional content.
                            This content
                            is a little bit longer.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card p-4">
                    <img src="{% static 'pagestyle\site-img\img\New folder\EllipseYellow.png' %}" style="width: 100px;"
                        class="card-img-top p-3" alt="...">
                    <div class="card-body row-5">
                        <h3 class="card-title fw-bold">500K+</h3>
                        <h3 class="card-title fw-bold">Expert Mentors</h3>
                        <p class="card-text">
                            This is a longer card with supporting text below as a natural lead-in to additional content.
                            This content
                            is a little bit longer.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card p-4">
                    <img src="{% static 'pagestyle\site-img\img\New folder\EllipseYellow.png' %}" style="width: 100px;"
                        class="card-img-top p-3" alt="...">
                    <div class="card-body row-5">
                        <h3 class="card-title fw-bold">500K+</h3>
                        <h3 class="card-title fw-bold">Expert Mentors</h3>
                        <p class="card-text">
                            This is a longer card with supporting text below as a natural lead-in to additional content.
                            This content
                            is a little bit longer.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card p-4">
                    <img src="{% static 'pagestyle\site-img\img\New folder\EllipseYellow.png' %}" style="width: 100px;"
                        class="card-img-top p-3" alt="...">
                    <div class="card-body row-5">
                        <h3 class="card-title fw-bold">500K+</h3>
                        <h3 class="card-title fw-bold">Expert Mentors</h3>
                        <p class="card-text">
                            This is a longer card with supporting text below as a natural lead-in to additional content.
                            This content
                            is a little bit longer.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card p-4">
                    <img src="{% static 'pagestyle\site-img\img\New folder\EllipseYellow.png' %}" style="width: 100px;"
                        class="card-img-top p-3" alt="...">
                    <div class="card-body row-5">
                        <h3 class="card-title fw-bold">500K+</h3>
                        <h3 class="card-title fw-bold">Expert Mentors</h3>
                        <p class="card-text">
                            This is a longer card with supporting text below as a natural lead-in to additional content.
                            This content
                            is a little bit longer.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Why are we the best END-->

    <div class="b-example-divider m-5 p-5"></div>

    <!-- Explore Course START -->
    <div class="p-5 m-5" style="background-color: #F1F1FB;">
        <div class="card-header p-5 mb-4">
            <div class="row d-flex flex-wrap align-items-center">
                <div class="col-9">
                    <h1>Explore Courses by Categories</h1>
                    <h5>Browse top class courses by browsing our category which will be more easy for you.</h5>
                </div>
                <div class="col-3">
                    <a href="{% url 'allCategory' %}"
                        class="text-decoration-none btn btn-outline-primary px-5 py-4 fs-1">All
                        Categories</a>
                </div>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="{% static 'pagestyle\site-img\img\AppDevelopment.png' %}"
                                class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">App & Web</h5>
                                <h5 class="card-title">Development</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="{% static 'pagestyle\site-img\img\MegaphoneMarketing.png' %}"
                                class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Digital</h5>
                                <h5 class="card-title">Marketing</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="{% static 'pagestyle\site-img\img\TeamWork.png' %}" class="img-fluid" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Graphic</h5>
                                <h5 class="card-title">Designing</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="{% static 'pagestyle\site-img\img\Python.png' %}" class="img-fluid rounded-start"
                                alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Python</h5>
                                <h5 class="card-title">Programming</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="{% static 'pagestyle\site-img\img\RobotAI.png' %}" class="img-fluid rounded-start"
                                alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Artificial</h5>
                                <h5 class="card-title">Intelligence</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="{% static 'pagestyle\site-img\img\AspirantGovtExams.png' %}"
                                class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Government</h5>
                                <h5 class="card-title">Exams</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Explore Course END -->

    <div class="b-example-divider m-5 p-5"></div>

    <!-- Popular Courses START -->
    <div class="p-5 my-5" style="background-color: #F1F1FB;">
        <div class="card-header p-5 mb-4">
            <div class="row d-flex flex-wrap align-items-center">
                <div class="col-9 p-5">
                    <h1>Popular Courses for you</h1>
                    <h5>Get the best course with the best price with world class mentors.</h5>
                </div>
                <div class="col-3">
                    <a href="#" class="text-decoration-none btn btn-outline-primary px-5 py-3 fs-1">See all courses</a>
                </div>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-md-3 g-4">

            <div class="col d-flex justify-content-evenly">
                <div class="card p-4" style="width: 18em;">

                    <img src="{% static 'pagestyle/site-img/img/Course (1).png' %}" class="rounded card-img-top"
                        alt="...">

                    <div class="card-body">
                        <h6 class="text-secondary">Category</h6>
                        <h3 class="card-title">Course Title</h3>
                        <div class="row d-flex align-items-center">

                            <div class="col-3 me-3">
                                <span class="d-flex align-items-center">
                                    <img src="{% static 'pagestyle\site-img\img\New folder\EllipseBlue.png' %}"
                                        style="width: 30px; height: 30px;" alt="">
                                    <h6 class="fw-semibold fs-6">10K+</h6>
                                </span>
                            </div>
                            <div class="col-3 me-3">
                                <span class="d-flex align-items-center">
                                    <img src="{% static 'pagestyle\site-img\img\New folder\EllipseYellow.png' %}"
                                        style="width: 30px; height: 30px;" alt="">
                                    <h6 class="fw-semibold fs-6">4.9</h6>
                                </span>
                            </div>
                            <div class="col-3 me-3">
                                <span class="d-flex align-items-center">
                                    <img src="{% static 'pagestyle\site-img\img\New folder\EllipsePink.png' %}"
                                        style="width: 30px; height: 30px;" alt="">
                                    <h6 class="fw-semibold fs-6">$100</h6>
                                </span>
                            </div>

                        </div>
                        <div class="row d-flex align-items-end">
                            <button type="button" class="btn btn-primary mt-5 px-5 py-3 fs-5">Enroll Now</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col d-flex justify-content-evenly">
                <div class="card p-4" style="width: 18em;">
                    <img src="{% static 'pagestyle/site-img/img/Course (2).png' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h6 class="text-secondary">Category</h6>
                        <h3 class="card-title">Course Title</h3>
                        <div class="row d-flex align-items-center">

                            <div class="col-3 me-3">
                                <span class="d-flex align-items-center">
                                    <img src="{% static 'pagestyle\site-img\img\New folder\EllipseBlue.png' %}"
                                        style="width: 30px; height: 30px;" alt="">
                                    <h6 class="fw-semibold fs-6">10K+</h6>
                                </span>
                            </div>
                            <div class="col-3 me-3">
                                <span class="d-flex align-items-center">
                                    <img src="{% static 'pagestyle\site-img\img\New folder\EllipseYellow.png' %}"
                                        style="width: 30px; height: 30px;" alt="">
                                    <h6 class="fw-semibold fs-6">4.9</h6>
                                </span>
                            </div>
                            <div class="col-3 me-3">
                                <span class="d-flex align-items-center">
                                    <img src="{% static 'pagestyle\site-img\img\New folder\EllipsePink.png' %}"
                                        style="width: 30px; height: 30px;" alt="">
                                    <h6 class="fw-semibold fs-6">$100</h6>
                                </span>
                            </div>

                        </div>
                        <div class="row d-flex align-items-end">
                            <button type="button" class="btn btn-primary mt-5 px-5 py-3 fs-5">Enroll Now</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col d-flex justify-content-evenly">
                <div class="card p-4" style="width: 18em;">
                    <img src="{% static 'pagestyle/site-img/img/Course (3).png' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h6 class="text-secondary">Category</h6>
                        <h3 class="card-title">Course Title</h3>
                        <div class="row d-flex align-items-center">

                            <div class="col-3 me-3">
                                <span class="d-flex align-items-center">
                                    <img src="{% static 'pagestyle\site-img\img\New folder\EllipseBlue.png' %}"
                                        style="width: 30px; height: 30px;" alt="">
                                    <h6 class="fw-semibold fs-6">10K+</h6>
                                </span>
                            </div>
                            <div class="col-3 me-3">
                                <span class="d-flex align-items-center">
                                    <img src="{% static 'pagestyle\site-img\img\New folder\EllipseYellow.png' %}"
                                        style="width: 30px; height: 30px;" alt="">
                                    <h6 class="fw-semibold fs-6">4.9</h6>
                                </span>
                            </div>
                            <div class="col-3 me-3">
                                <span class="d-flex align-items-center">
                                    <img src="{% static 'pagestyle\site-img\img\New folder\EllipsePink.png' %}"
                                        style="width: 30px; height: 30px;" alt="">
                                    <h6 class="fw-semibold fs-6">$100</h6>
                                </span>
                            </div>

                        </div>
                        <div class="row d-flex align-items-end">
                            <button type="button" class="btn btn-primary mt-5 px-5 py-3 fs-5">Enroll Now</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col d-flex justify-content-evenly">
                <div class="card p-4" style="width: 18em;">

                    <img src="{% static 'pagestyle/site-img/img/Course (1).png' %}" class="rounded card-img-top"
                        alt="...">

                    <div class="card-body">
                        <h6 class="text-secondary">Category</h6>
                        <h3 class="card-title">Course Title</h3>
                        <div class="row d-flex align-items-center">

                            <div class="col-3 me-3">
                                <span class="d-flex align-items-center">
                                    <img src="{% static 'pagestyle\site-img\img\New folder\EllipseBlue.png' %}"
                                        style="width: 30px; height: 30px;" alt="">
                                    <h6 class="fw-semibold fs-6">10K+</h6>
                                </span>
                            </div>
                            <div class="col-3 me-3">
                                <span class="d-flex align-items-center">
                                    <img src="{% static 'pagestyle\site-img\img\New folder\EllipseYellow.png' %}"
                                        style="width: 30px; height: 30px;" alt="">
                                    <h6 class="fw-semibold fs-6">4.9</h6>
                                </span>
                            </div>
                            <div class="col-3 me-3">
                                <span class="d-flex align-items-center">
                                    <img src="{% static 'pagestyle\site-img\img\New folder\EllipsePink.png' %}"
                                        style="width: 30px; height: 30px;" alt="">
                                    <h6 class="fw-semibold fs-6">$100</h6>
                                </span>
                            </div>

                        </div>
                        <div class="row d-flex align-items-end">
                            <button type="button" class="btn btn-primary mt-5 px-5 py-3 fs-5">Enroll Now</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col d-flex justify-content-evenly">
                <div class="card p-4" style="width: 18em;">
                    <img src="{% static 'pagestyle/site-img/img/Course (2).png' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h6 class="text-secondary">Category</h6>
                        <h3 class="card-title">Course Title</h3>
                        <div class="row d-flex align-items-center">

                            <div class="col-3 me-3">
                                <span class="d-flex align-items-center">
                                    <img src="{% static 'pagestyle\site-img\img\New folder\EllipseBlue.png' %}"
                                        style="width: 30px; height: 30px;" alt="">
                                    <h6 class="fw-semibold fs-6">10K+</h6>
                                </span>
                            </div>
                            <div class="col-3 me-3">
                                <span class="d-flex align-items-center">
                                    <img src="{% static 'pagestyle\site-img\img\New folder\EllipseYellow.png' %}"
                                        style="width: 30px; height: 30px;" alt="">
                                    <h6 class="fw-semibold fs-6">4.9</h6>
                                </span>
                            </div>
                            <div class="col-3 me-3">
                                <span class="d-flex align-items-center">
                                    <img src="{% static 'pagestyle\site-img\img\New folder\EllipsePink.png' %}"
                                        style="width: 30px; height: 30px;" alt="">
                                    <h6 class="fw-semibold fs-6">$100</h6>
                                </span>
                            </div>

                        </div>
                        <div class="row d-flex align-items-end">
                            <button type="button" class="btn btn-primary mt-5 px-5 py-3 fs-5">Enroll Now</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col d-flex justify-content-evenly">
                <div class="card p-4" style="width: 18em;">
                    <img src="{% static 'pagestyle/site-img/img/Course (3).png' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h6 class="text-secondary">Category</h6>
                        <h3 class="card-title">Course Title</h3>
                        <div class="row d-flex align-items-center">

                            <div class="col-3 me-3">
                                <span class="d-flex align-items-center">
                                    <img src="{% static 'pagestyle\site-img\img\New folder\EllipseBlue.png' %}"
                                        style="width: 30px; height: 30px;" alt="">
                                    <h6 class="fw-semibold fs-6">10K+</h6>
                                </span>
                            </div>
                            <div class="col-3 me-3">
                                <span class="d-flex align-items-center">
                                    <img src="{% static 'pagestyle\site-img\img\New folder\EllipseYellow.png' %}"
                                        style="width: 30px; height: 30px;" alt="">
                                    <h6 class="fw-semibold fs-6">4.9</h6>
                                </span>
                            </div>
                            <div class="col-3 me-3">
                                <span class="d-flex align-items-center">
                                    <img src="{% static 'pagestyle\site-img\img\New folder\EllipsePink.png' %}"
                                        style="width: 30px; height: 30px;" alt="">
                                    <h6 class="fw-semibold fs-6">$100</h6>
                                </span>
                            </div>

                        </div>
                        <div class="row d-flex align-items-end">
                            <button type="button" class="btn btn-primary mt-5 px-5 py-3 fs-5">Enroll Now</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- Popular Courses END -->

    <div class="b-example-divider m-5 p-5"></div>

    <!-- Testimonials START -->
    <div class="my-5">
        <div class="card-header p-5 mb-4">
            <div class="row d-flex flex-wrap align-items-center">
                <div class="col-9">
                    <h1 class="fw-bold">What are student are</h1>
                    <h1 class="fw-bold">saying about us</h1>
                </div>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-md-3 g-4 ">
            <div class="col p-5 d-flex justify-content-evenly">
                <div class="card p-4 bg-light" style="width: 30rem;">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-4">
                                <img src="{% static 'pagestyle/site-img/img/JohnDoe1.png' %}" class="rounded-circle p-2"
                                    style="width: 80px;" alt="...">
                            </div>
                            <div class="col-8">
                                <div class="card-body">
                                    <h5 class="card-title">John Doe</h5>
                                    <p>⭐⭐⭐⭐⭐</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Good Platform</h5>
                        <p class="card-text">
                            Some quick example text to build on the card title and make up the bulk of the card's
                            content.
                            Some quick example text to build on the card title and make up the bulk of the card's
                            content.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col p-5 d-flex justify-content-evenly">
                <div class="card p-4 bg-light" style="width: 30rem;">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-4">
                                <img src="{% static 'pagestyle/site-img/img/JohnDoe2.png' %}" class="rounded-circle p-2"
                                    style="width: 80px;" alt="...">
                            </div>
                            <div class="col-8">
                                <div class="card-body">
                                    <h5 class="card-title">John Doe</h5>
                                    <p>⭐⭐⭐⭐⭐</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Good Platform</h5>
                        <p class="card-text">
                            Some quick example text to build on the card title and make up the bulk of the card's
                            content.
                            Some quick example text to build on the card title and make up the bulk of the card's
                            content.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col p-5 d-flex justify-content-evenly">
                <div class="card p-4 bg-light" style="width: 30rem;">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-4">
                                <img src="{% static 'pagestyle/site-img/img/JohnDoe3.png' %}" class="rounded-circle p-2"
                                    style="width: 80px;" alt="...">
                            </div>
                            <div class="col-8">
                                <div class="card-body">
                                    <h5 class="card-title">John Doe</h5>
                                    <p>⭐⭐⭐⭐⭐</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Good Platform</h5>
                        <p class="card-text">
                            Some quick example text to build on the card title and make up the bulk of the card's
                            content.
                            Some quick example text to build on the card title and make up the bulk of the card's
                            content.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Testimonials END -->

    <div class="b-example-divider m-5 p-5"></div>

    <!-- Newsletter START -->
    <div class="my-5 p-5 h-100">
        <div class="card-header p-5 mb-4 text-center">
            <h1 class="fw-bold ">Subscribe NewsLatter</h1>
            <h5 class="fw-bold text-secondary">You can learn today and earn tomorrow. The roots of education are bitter
                but
                fruits are sweet.</h5>
        </div>
        <div class="row m-5 d-flex justify-content-center">
            <div class="col-8 p-5">
                <div class="input-group">
                    <input type="text" class="form-control text-secondary opacity-50 h-auto d-inline-block "
                        placeholder="Enter your email address" aria-label="Recipient's username"
                        aria-describedby="basic-addon2">
                    <span class="input-group-text btn btn-primary py-4 px-5 fs-2" id="basic-addon2">Subscribe</span>
                </div>
            </div>
        </div>
    </div>
    <!-- Newsletter END -->

    <div class="b-example-divider m-5 p-5"></div>

</div>

<!--end body -->


<!--footer start -->

<footer class="d-flex flex-wrap justify-content-between align-items-center p-5 mt-5 border-top"
    style="background-color: #F1F1FB;">
    <p class="col-md-4 mb-0 text-body-secondary"><img src="{% static 'pagestyle\site-img\img\Logoipusm.png' %}" alt="">
    </p>

    <a href="/"
        class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">

    </a>

    <ul class="nav col-md-4 justify-content-end">
        <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Home</a></li>
        <li class="nav-item"><a href="About.html" class="nav-link px-2 text-body-secondary">About us </a></li>
        <li class="nav-item"><a href="contact.html" class="nav-link px-2 text-body-secondary">Contact Us</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Terms</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">PrivacyPolicy</a></li>

    </ul>
</footer>

<!--footer end -->


{% endblock content %}