{% extends 'base.html' %}
{% load static %}

{% block content %}

  <div class="bg-img" style="background-image:url('pagestyle/site-img/img/Rectangle\ 55.png'); height: 100vh;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card bg-transparent" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center shadow rounded">
             
              <div class="mb-md-5 mt-md-3 pb-5">

                <h2 class="fw-bold mb-2 text-uppercase">LOGIN BELOW!</h2>
                <p class="text-white-50 mb-5"></p>
                <form method="post">
                  {% csrf_token %}
                  <div class="form-outline form-dark mb-4">
                    <input type="username" id="username" name="username" class="form-control form-control-lg bg-transparent border-dark"
                      placeholder="Username" />
                    <label class="form-label" for="typeEmailX"></label>
                  </div>
                  

                  <div class="form-outline form-dark mb-4">
                    <input type="password" id="password" name="password"
                      class="form-control form-control-lg bg-transparent border-dark" placeholder="password" />
                    <label class="form-label" for="typePasswordX"></label>
                  </div>

                  <div class="d-grid gap-2">
                    <button class="btn btn-primary btn-lg btn-block" type="submit">Login</button>
                  </div>
                  <p>or</p>
                  <p class="mb-0">New User?<a href="{% url 'signup'%}">Register Here</a>
                  </p>
                </form>

              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



{% endblock content %}