{% extends 'base.html' %} 
{% load static %}

{% block content %}


  <section class="bg-image" style="background-image:url('pagestyle/site-img/img/Rectangle\ 55.png'); height: 100vh;">
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
      <div class="container h-100 ">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-12 col-md-9 col-lg-7 col-xl-6">
            <div class="card bg-transparent" style="border-radius: 15px;">
              <div class="card-body p-5 shadow rounded">
                <h2 class="text-uppercase text-center mb-5 ">Create an account</h2>

                <form action="" method="post">
                    {% csrf_token %}
                  <div class="form-outline mb-4">
                    <input type="text" id="username" name="username"
                      class="form-control form-control-lg bg-transparent border-dark" placeholder="Your Name" />
                    <label class="form-label" for="form3Example1cg"></label>
                  </div>

                  <div class="form-outline mb-4">
                    <input type="email" id="email" name="email"
                      class="form-control form-control-lg bg-transparent border-dark" placeholder="Enter email" />
                    <label class="form-label" for="form3Example3cg"></label>
                  </div>

                  <div class="form-outline mb-4">
                    <input type="password" id="password" name="password"
                      class="form-control form-control-lg bg-transparent border-dark" placeholder="Password" />
                    <label class="form-label" for="form3Example4cg"></label>
                  </div>

                  <div class="form-outline mb-4">
                    <input type="password" id="confirm_password" name="confirm_password"
                      class="form-control form-control-lg bg-transparent border-dark"
                      placeholder="Repeat your password" />
                    <label class="form-label" for="form3Example4cdg"></label>
                  </div>

                  <div class="form-check d-flex justify-content-center mb-5">
                    <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3cg" />
                    <label class="form-check-label" for="form2Example3g">
                      I agree all statements in <a href="#!" class="text-center-50%"><u>Terms of service</u></a>
                    </label>
                  </div>

                  <div class="d-flex justify-content-center">
                    <button type="submit"
                      class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Register</button>
                  </div>

                  <p class="text-center text-muted mt-5 mb-0">Have already an account? <a href="{% url 'login' %}"
                      class="fw-bold text-body"><u>Login here</u></a></p>

                </form>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% endblock content %}