{% extends 'base.html' %} {% load static %}

{% block content %}



<div class="row m-5">
  <div class="col-md-6 mx-auto">
    <div class="card">
      <div class="card-header text-black">
        <h2 class="text-center pt-4">Student Registration</h2>
      </div>
      <div class="card-body p-5">
        <form action="{% url 'student_register' %}" method="POST">
          {% csrf_token %}
          {% comment %} {{ form.as_p}} {% endcomment %}

          {% for field in form %}

          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">{{field.label}}</label>
            {{field}}
          </div>

            <!-- For loop for error -->
            {% for error in field.errors %}
            <p><small style="color: red">{{error}}</small></p>
            {% endfor %}
          {% endfor %}

          <input type="submit" value="Register" class="btn btn-block btn-primary">
        </form>

        <p class="text-start text-muted mt-3">Already have an account?
          <a href="{% url 'login' %}" class="fw-bold text-body"><u>Login here</u></a>
        </p>
      </div>
    </div>
  </div>
</div>




{% endblock content %}