<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="css/swiper-bundle.min.css">

  <link href="style.css" rel="stylesheet" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">

  <title>login</title>
  <style>
    .card {
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
      background-color: rgba(255, 255, 255, 0.5);
    }
  </style>
</head>

<body>
  <div class="bg-img" style="background-image:url('pagestyle/site-img/img/Rectangle\ 55.png'); height: 100vh;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card bg-transparent" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center shadow rounded">

              <div class="mb-md-5 mt-md-3 pb-5">

                <h2 class="fw-bold mb-2 text-uppercase">LOGIN BELOW!</h2>
                <p class="text-white-50 mb-5"></p>

                <div class="form-outline form-dark mb-4">
                  <input type="email" id="typeEmailX" class="form-control form-control-lg bg-transparent border-dark"
                    placeholder="Email / username" />
                  <label class="form-label" for="typeEmailX"></label>
                </div>

                <div class="form-outline form-dark mb-4">
                  <input type="password" id="typePasswordX"
                    class="form-control form-control-lg bg-transparent border-dark" placeholder="password" />
                  <label class="form-label" for="typePasswordX"></label>
                </div>

                <div class="d-grid gap-2">
                  <button class="btn btn-primary btn-lg btn-block" type="button">Login</button>
                </div>
                <p>or</p>
                <p class="mb-0">New User?<a href="#!">Register Here</a>
                </p>


              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</html>