{% extends 'base.html' %} {% load static %} {% block content %}

<!-- Start Side Vav -->
<div class="rbt-cart-side-menu">
    <div class="inner-wrapper">
        <div class="inner-top">
            <div class="content">
                <div class="title">
                    <h4 class="title mb--0">Your shopping cart</h4>
                </div>
                <div class="rbt-btn-close" id="btn_sideNavClose">
                    <button class="minicart-close-button rbt-round-btn">
                        <i class="feather-x"></i>
                    </button>
                </div>
            </div>
        </div>
        <nav class="side-nav w-100">
            <ul class="rbt-minicart-wrapper">
                <li class="minicart-item">
                    <div class="thumbnail">
                        <a href="#">
                            <img
                                src="assets/images/product/1.jpg"
                                alt="Product Images"
                            />
                        </a>
                    </div>
                    <div class="product-content">
                        <h6 class="title">
                            <a href="single-product.html">Miracle Morning</a>
                        </h6>

                        <span class="quantity"
                            >1 * <span class="price">$22</span></span
                        >
                    </div>
                    <div class="close-btn">
                        <button class="rbt-round-btn">
                            <i class="feather-x"></i>
                        </button>
                    </div>
                </li>

                <li class="minicart-item">
                    <div class="thumbnail">
                        <a href="#">
                            <img
                                src="assets/images/product/7.jpg"
                                alt="Product Images"
                            />
                        </a>
                    </div>
                    <div class="product-content">
                        <h6 class="title">
                            <a href="single-product.html">Happy Strong</a>
                        </h6>

                        <span class="quantity"
                            >1 * <span class="price">$30</span></span
                        >
                    </div>
                    <div class="close-btn">
                        <button class="rbt-round-btn">
                            <i class="feather-x"></i>
                        </button>
                    </div>
                </li>

                <li class="minicart-item">
                    <div class="thumbnail">
                        <a href="#">
                            <img
                                src="assets/images/product/3.jpg"
                                alt="Product Images"
                            />
                        </a>
                    </div>
                    <div class="product-content">
                        <h6 class="title">
                            <a href="single-product.html">Rich Dad Poor Dad</a>
                        </h6>

                        <span class="quantity"
                            >1 * <span class="price">$50</span></span
                        >
                    </div>
                    <div class="close-btn">
                        <button class="rbt-round-btn">
                            <i class="feather-x"></i>
                        </button>
                    </div>
                </li>

                <li class="minicart-item">
                    <div class="thumbnail">
                        <a href="#">
                            <img
                                src="assets/images/product/4.jpg"
                                alt="Product Images"
                            />
                        </a>
                    </div>
                    <div class="product-content">
                        <h6 class="title">
                            <a href="single-product.html">Momentum Theorem</a>
                        </h6>

                        <span class="quantity"
                            >1 * <span class="price">$50</span></span
                        >
                    </div>
                    <div class="close-btn">
                        <button class="rbt-round-btn">
                            <i class="feather-x"></i>
                        </button>
                    </div>
                </li>
            </ul>
        </nav>

        <div class="rbt-minicart-footer">
            <hr class="mb--0" />
            <div class="rbt-cart-subttotal">
                <p class="subtotal"><strong>Subtotal:</strong></p>
                <p class="price">$121</p>
            </div>
            <hr class="mb--0" />
            <div class="rbt-minicart-bottom mt--20">
                <div class="view-cart-btn">
                    <a
                        class="rbt-btn btn-border icon-hover w-100 text-center"
                        href="#"
                    >
                        <span class="btn-text">View Cart</span>
                        <span class="btn-icon"
                            ><i class="feather-arrow-right"></i
                        ></span>
                    </a>
                </div>
                <div class="checkout-btn mt--20">
                    <a
                        class="rbt-btn btn-gradient icon-hover w-100 text-center"
                        href="#"
                    >
                        <span class="btn-text">Checkout</span>
                        <span class="btn-icon"
                            ><i class="feather-arrow-right"></i
                        ></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Side Vav -->
<a class="close_side_menu" href="javascript:void(0);"></a>

<!-- Start breadcrumb Area -->
<div
    class="rbt-breadcrumb-default ptb--100 ptb_md--50 ptb_sm--30 bg-gradient-1"
>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-inner text-center">
                    <h2 class="title">Instructor</h2>
                    <ul class="page-list">
                        <li class="rbt-breadcrumb-item">
                            <a href="index.html">Home</a>
                        </li>
                        <li>
                            <div class="icon-right">
                                <i class="feather-chevron-right"></i>
                            </div>
                        </li>
                        <li class="rbt-breadcrumb-item active">Instructor</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Breadcrumb Area -->

<div class="rbt-team-area bg-color-extra2 rbt-section-gap">
    <div class="container">
        <div class="row g-5">
            <!-- Start Single Team  -->
            <div class="col-lg-3 col-md-6 col-12">
                <div
                    class="rbt-team team-style-default style-three small-layout rbt-hover"
                >
                    <div class="inner">
                        <div class="thumbnail">
                            <img
                                src="assets/images/team/team-01.jpg"
                                alt="Corporate Template"
                            />
                        </div>
                        <div class="content">
                            <h4 class="title">Zohaib Oneill</h4>
                            <h6 class="subtitle theme-gradient">
                                Math Teacher
                            </h6>
                            <span class="team-form">
                                <i class="feather-map-pin"></i>
                                <span class="location">CO Miego, AD,USA</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Single Team  -->

            <!-- Start Single Team  -->
            <div class="col-lg-3 col-md-6 col-12">
                <div
                    class="rbt-team team-style-default style-three small-layout rbt-hover"
                >
                    <div class="inner">
                        <div class="thumbnail">
                            <img
                                src="assets/images/team/team-02.jpg"
                                alt="Corporate Template"
                            />
                        </div>
                        <div class="content">
                            <h2 class="title">Alvin Rivera</h2>
                            <h6 class="subtitle theme-gradient">
                                Depertment Head
                            </h6>
                            <span class="team-form">
                                <i class="feather-map-pin"></i>
                                <span class="location">CO Miego, AD,USA</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Single Team  -->

            <!-- Start Single Team  -->
            <div class="col-lg-3 col-md-6 col-12">
                <div
                    class="rbt-team team-style-default style-three small-layout rbt-hover"
                >
                    <div class="inner">
                        <div class="thumbnail">
                            <img
                                src="assets/images/team/team-03.jpg"
                                alt="Corporate Template"
                            />
                        </div>
                        <div class="content">
                            <h2 class="title">Joao Lloyd</h2>
                            <h6 class="subtitle theme-gradient">
                                Math Teacher
                            </h6>
                            <span class="team-form">
                                <i class="feather-map-pin"></i>
                                <span class="location">CO Miego, AD,USA</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Single Team  -->

            <!-- Start Single Team  -->
            <div class="col-lg-3 col-md-6 col-12">
                <div
                    class="rbt-team team-style-default style-three small-layout rbt-hover"
                >
                    <div class="inner">
                        <div class="thumbnail">
                            <img
                                src="assets/images/team/team-04.jpg"
                                alt="Corporate Template"
                            />
                        </div>
                        <div class="content">
                            <h2 class="title">Bella</h2>
                            <h6 class="subtitle theme-gradient">
                                Math Teacher
                            </h6>
                            <span class="team-form">
                                <i class="feather-map-pin"></i>
                                <span class="location">CO Miego, AD,USA</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Single Team  -->

            <!-- Start Single Team  -->
            <div class="col-lg-3 col-md-6 col-12">
                <div
                    class="rbt-team team-style-default style-three small-layout rbt-hover"
                >
                    <div class="inner">
                        <div class="thumbnail">
                            <img
                                src="assets/images/team/team-05.jpg"
                                alt="Corporate Template"
                            />
                        </div>
                        <div class="content">
                            <h2 class="title">Claudia Pruitt</h2>
                            <h6 class="subtitle theme-gradient">Teacher</h6>
                            <span class="team-form">
                                <i class="feather-map-pin"></i>
                                <span class="location">CO Miego, AD,USA</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Single Team  -->

            <!-- Start Single Team  -->
            <div class="col-lg-3 col-md-6 col-12">
                <div
                    class="rbt-team team-style-default style-three small-layout rbt-hover"
                >
                    <div class="inner">
                        <div class="thumbnail">
                            <img
                                src="assets/images/team/team-06.jpg"
                                alt="Corporate Template"
                            />
                        </div>
                        <div class="content">
                            <h2 class="title">Judy Oneill</h2>
                            <h6 class="subtitle theme-gradient">Teacher</h6>
                            <span class="team-form">
                                <i class="feather-map-pin"></i>
                                <span class="location">CO Miego, AD,USA</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Single Team  -->

            <!-- Start Single Team  -->
            <div class="col-lg-3 col-md-6 col-12">
                <div
                    class="rbt-team team-style-default style-three small-layout rbt-hover"
                >
                    <div class="inner">
                        <div class="thumbnail">
                            <img
                                src="assets/images/team/team-07.jpg"
                                alt="Corporate Template"
                            />
                        </div>
                        <div class="content">
                            <h2 class="title">Levi Arm</h2>
                            <h6 class="subtitle theme-gradient">Teacher</h6>
                            <span class="team-form">
                                <i class="feather-map-pin"></i>
                                <span class="location">CO Miego, AD,USA</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Single Team  -->

            <!-- Start Single Team  -->
            <div class="col-lg-3 col-md-6 col-12">
                <div
                    class="rbt-team team-style-default style-three small-layout rbt-hover"
                >
                    <div class="inner">
                        <div class="thumbnail">
                            <img
                                src="assets/images/team/team-08.jpg"
                                alt="Corporate Template"
                            />
                        </div>
                        <div class="content">
                            <h2 class="title">Fred Guer</h2>
                            <h6 class="subtitle theme-gradient">Economic</h6>
                            <span class="team-form">
                                <i class="feather-map-pin"></i>
                                <span class="location">CO Miego, AD,USA</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Single Team  -->
        </div>

        <div class="row">
            <div class="col-lg-12 mt--60">
                <nav>
                    <ul class="rbt-pagination">
                        <li>
                            <a href="#" aria-label="Previous"
                                ><i class="feather-chevron-left"></i
                            ></a>
                        </li>
                        <li><a href="#">1</a></li>
                        <li class="active"><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li>
                            <a href="#" aria-label="Next"
                                ><i class="feather-chevron-right"></i
                            ></a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>


<div class="rbt-progress-parent">
    <svg
        class="rbt-back-circle svg-inner"
        width="100%"
        height="100%"
        viewBox="-1 -1 102 102"
    >
        <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
    </svg>
</div>

{% endblock content %}
