{% extends 'base.html' %}
{% load static %}


{% block content %}



    <!-- End Side Vav -->
    <a class="close_side_menu" href="javascript:void(0);"></a>

    <div class="rbt-page-banner-wrapper">
        <!-- Start Banner BG Image  -->
        <div class="rbt-banner-image"></div>
        <!-- End Banner BG Image  -->
    </div>

    <!-- Start Card Style -->
    <div class="rbt-dashboard-area rbt-section-overlayping-top rbt-section-gapBottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <!-- Start Dashboard Top  -->
                    <div class="rbt-dashboard-content-wrapper">
                        <div class="tutor-bg-photo bg_image bg_image--22 height-350"></div>
                        <!-- Start Tutor Information  -->
                        <div class="rbt-tutor-information">
                            <div class="rbt-tutor-information-left">
                                <div class="thumbnail rbt-avatars size-lg">
                                    <img src="assets/images/team/avatar.jpg" alt="Instructor">
                                </div>
                                <div class="tutor-content">
                                    <h5 class="title">John Due</h5>
                                    <div class="rbt-review">
                                        <div class="rating">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                        </div>
                                        <span class="rating-count"> (15 Reviews)</span>
                                    </div>
                                </div>
                            </div>
                            <div class="rbt-tutor-information-right">
                                <div class="tutor-btn">
                                    <a class="rbt-btn btn-md hover-icon-reverse" href="#">
                                        <span class="icon-reverse-wrapper">
                        <span class="btn-text">Create a New Course</span>
                                        <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                                        <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- End Tutor Information  -->
                    </div>
                    <!-- End Dashboard Top  -->

                    <div class="row g-5">
                        <div class="col-lg-3">
                            <!-- Start Dashboard Sidebar  -->
                            <div class="rbt-default-sidebar sticky-top rbt-shadow-box rbt-gradient-border">
                                <div class="inner">
                                    <div class="content-item-content">

                                        <div class="rbt-default-sidebar-wrapper">
                                            <div class="section-title mb--20">
                                                <h6 class="rbt-title-style-2">Welcome, Jone Due</h6>
                                            </div>
                                            <nav class="mainmenu-nav">
                                                <ul class="dashboard-mainmenu rbt-default-sidebar-list">
                                                    <li><a href="instructor-dashboard.html"><i class="feather-home"></i><span>Dashboard</span></a></li>
                                                    <li><a href="instructor-profile.html"><i class="feather-user"></i><span>My Profile</span></a></li>
                                                    <li><a href="instructor-enrolled-courses.html"><i class="feather-book-open"></i><span>Enrolled Courses</span></a></li>
                                                    <li><a href="instructor-wishlist.html"><i class="feather-bookmark"></i><span>Wishlist</span></a></li>
                                                    <li><a href="instructor-reviews.html"><i class="feather-star"></i><span>Reviews</span></a></li>
                                                    <li><a href="instructor-my-quiz-attempts.html"><i class="feather-help-circle"></i><span>My Quiz Attempts</span></a></li>
                                                    <li><a href="instructor-order-history.html"><i class="feather-shopping-bag"></i><span>Order History</span></a></li>
                                                </ul>
                                            </nav>

                                            <div class="section-title mt--40 mb--20">
                                                <h6 class="rbt-title-style-2">Instructor</h6>
                                            </div>

                                            <nav class="mainmenu-nav">
                                                <ul class="dashboard-mainmenu rbt-default-sidebar-list">
                                                    <li><a href="instructor-course.html"><i class="feather-monitor"></i><span>My Courses</span></a></li>
                                                    <li><a href="instructor-announcements.html"><i class="feather-volume-2"></i><span>Announcements</span></a></li>
                                                    <li><a href="instructor-quiz-attempts.html"><i class="feather-message-square"></i><span>Quiz Attempts</span></a></li>
                                                    <li><a href="instructor-assignments.html"><i class="feather-list"></i><span>Assignments</span></a></li>
                                                </ul>
                                            </nav>

                                            <div class="section-title mt--40 mb--20">
                                                <h6 class="rbt-title-style-2">User</h6>
                                            </div>

                                            <nav class="mainmenu-nav">
                                                <ul class="dashboard-mainmenu rbt-default-sidebar-list">
                                                    <li><a href="instructor-settings.html"><i class="feather-settings"></i><span>Settings</span></a></li>
                                                    <li><a href="index.html"><i class="feather-log-out"></i><span>Logout</span></a></li>
                                                </ul>
                                            </nav>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <!-- End Dashboard Sidebar  -->
                        </div>

                        <div class="col-lg-9">
                            <!-- Start Enrole Course  -->
                            <div class="rbt-dashboard-content bg-color-white rbt-shadow-box">
                                <div class="content">
                                    <div class="section-title">
                                        <h4 class="rbt-title-style-3">Reviews</h4>
                                    </div>

                                    <div class="advance-tab-button mb--30">
                                        <ul class="nav nav-tabs tab-button-style-2 justify-content-start" id="reviewTab-4" role="tablist">
                                            <li role="presentation">
                                                <a href="#" class="tab-button active" id="received-tab" data-bs-toggle="tab" data-bs-target="#received" role="tab" aria-controls="received" aria-selected="true">
                                                    <span class="title">Received</span>
                                                </a>
                                            </li>
                                            <li role="presentation">
                                                <a href="#" class="tab-button" id="given-tab" data-bs-toggle="tab" data-bs-target="#given" role="tab" aria-controls="given" aria-selected="false">
                                                    <span class="title">Given</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>


                                    <div class="tab-content">
                                        <div class="tab-pane fade active show" id="received" role="tabpanel" aria-labelledby="received-tab">
                                            <div class="rbt-dashboard-table table-responsive mobile-table-750">
                                                <table class="rbt-table table table-borderless">
                                                    <thead>
                                                        <tr>
                                                            <th>Student</th>
                                                            <th>Date</th>
                                                            <th>Feedback</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <th>John Due</th>
                                                            <td>January 30, 2021</td>
                                                            <td>
                                                                <span class="b3">Course: <a href="#">Speaking Korean for Beginners</a></span>
                                                                <div class="rbt-review">
                                                                    <div class="rating">
                                                                        <i class="fas fa-star"></i>
                                                                        <i class="fas fa-star"></i>
                                                                        <i class="fas fa-star"></i>
                                                                        <i class="fas fa-star"></i>
                                                                        <i class="fas fa-star"></i>
                                                                    </div>
                                                                    <span class="rating-count"> (9 Reviews)</span>
                                                                </div>
                                                                <p class="b2">Good</p>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <th>John Due</th>
                                                            <td>June 30, 2022</td>
                                                            <td>
                                                                <span class="b3">Course: <a href="#">PHP for Beginners</a></span>
                                                                <div class="rbt-review">
                                                                    <div class="rating">
                                                                        <i class="fas fa-star"></i>
                                                                        <i class="fas fa-star"></i>
                                                                        <i class="fas fa-star"></i>
                                                                        <i class="fas fa-star"></i>
                                                                        <i class="fas fa-star"></i>
                                                                    </div>
                                                                    <span class="rating-count"> (5 Reviews)</span>
                                                                </div>
                                                                <p class="b3">Awesome</p>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <th>John Due</th>
                                                            <td>April 30, 2022</td>
                                                            <td>
                                                                <span class="b3">Course: <a href="#">WordPress for Beginners</a></span>
                                                                <div class="rbt-review">
                                                                    <div class="rating">
                                                                        <i class="fas fa-star"></i>
                                                                        <i class="off fas fa-star"></i>
                                                                        <i class="off fas fa-star"></i>
                                                                        <i class="off fas fa-star"></i>
                                                                        <i class="off fas fa-star"></i>
                                                                    </div>
                                                                    <span class="rating-count"> (10 Reviews)</span>
                                                                </div>
                                                                <p class="b3">Nice Course</p>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <th>John Due</th>
                                                            <td>March 30, 2022</td>
                                                            <td>
                                                                <span class="b3">Course: <a href="#">Design for Beginners</a></span>
                                                                <div class="rbt-review">
                                                                    <div class="rating">
                                                                        <i class="fas fa-star"></i>
                                                                        <i class="fas fa-star"></i>
                                                                        <i class="fas fa-star"></i>
                                                                        <i class="off fas fa-star"></i>
                                                                        <i class="off fas fa-star"></i>
                                                                    </div>
                                                                    <span class="rating-count"> (15 Reviews)</span>
                                                                </div>
                                                                <p class="b3">-</p>
                                                            </td>
                                                        </tr>
                                                    </tbody>

                                                </table>
                                            </div>
                                        </div>

                                        <div class="tab-pane fade" id="given" role="tabpanel" aria-labelledby="given-tab">
                                            <div class="rbt-dashboard-table table-responsive mobile-table-750">
                                                <table class="rbt-table table table-borderless">
                                                    <thead>
                                                        <tr>
                                                            <th>Course Title</th>
                                                            <th>Review</th>
                                                            <th></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <th>Course: How to Write Your First Novel</th>
                                                            <td>
                                                                <div class="rbt-review">
                                                                    <div class="rating">
                                                                        <i class="fas fa-star"></i>
                                                                        <i class="fas fa-star"></i>
                                                                        <i class="fas fa-star"></i>
                                                                        <i class="fas fa-star"></i>
                                                                        <i class="fas fa-star"></i>
                                                                    </div>
                                                                    <span class="rating-count"> (9 Reviews)</span>
                                                                </div>
                                                                <p class="b3">Good</p>
                                                            </td>
                                                            <td>
                                                                <div class="rbt-button-group">
                                                                    <a class="rbt-btn-link left-icon" href="#"><i class="feather-edit"></i> Edit</a>
                                                                    <a class="rbt-btn-link left-icon" href="#"><i class="feather-trash-2"></i> Delete</a>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <th>Course: How to Web Design</th>
                                                            <td>
                                                                <div class="rbt-review">
                                                                    <div class="rating">
                                                                        <i class="fas fa-star"></i>
                                                                        <i class="fas fa-star"></i>
                                                                        <i class="fas fa-star"></i>
                                                                        <i class="fas fa-star"></i>
                                                                        <i class="fas fa-star"></i>
                                                                    </div>
                                                                    <span class="rating-count"> (9 Reviews)</span>
                                                                </div>
                                                                <p class="b3">Awesome Course</p>
                                                            </td>
                                                            <td>
                                                                <div class="rbt-button-group">
                                                                    <a class="rbt-btn-link left-icon" href="#"><i class="feather-edit"></i> Edit</a>
                                                                    <a class="rbt-btn-link left-icon" href="#"><i class="feather-trash-2"></i> Delete</a>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <th>Course: English</th>
                                                            <td>
                                                                <div class="rbt-review">
                                                                    <div class="rating">
                                                                        <i class="fas fa-star"></i>
                                                                        <i class="fas fa-star"></i>
                                                                        <i class="off fas fa-star"></i>
                                                                        <i class="off fas fa-star"></i>
                                                                        <i class="off fas fa-star"></i>
                                                                    </div>
                                                                    <span class="rating-count"> (9 Reviews)</span>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="rbt-button-group">
                                                                    <a class="rbt-btn-link left-icon" href="#"><i class="feather-edit"></i> Edit</a>
                                                                    <a class="rbt-btn-link left-icon" href="#"><i class="feather-trash-2"></i> Delete</a>
                                                                </div>
                                                            </td>
                                                        </tr>

                                                    </tbody>

                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Enrole Course  -->
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- End Card Style -->


 <!--footer start -->

 <footer class="d-flex flex-wrap justify-content-between align-items-center p-5 mt-5 border-top" style="background-color: #F1F1FB;">
    <p class="col-md-4 mb-0 text-body-secondary"><img src="pagestyle\site-img\img\Logoipusm.png" alt=""></p>
    
    <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
      
    </a>

    <ul class="nav col-md-4 justify-content-end">
      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Home</a></li>
      <li class="nav-item"><a href="About.html" class="nav-link px-2 text-body-secondary">About us </a></li>
      <li class="nav-item"><a href="contact.html" class="nav-link px-2 text-body-secondary">Contact Us</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Terms</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">PrivacyPolicy</a></li>
      
    </ul>
    <div class="container  d-flex align-items-center justify-content-center ">
    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-12 justify-content-center">
        <p class="rbt-link-hover  text-lg-start ">Copyright © 2023 <a href="#">Inkronix.</a> All Rights Reserved</p>
    </div>

    </div>
  </footer>

  {% endblock content %}
