{% extends 'base.html' %}
{% load static %}


{% block content %}



    <!-- End Side Vav -->
    <a class="close_side_menu" href="javascript:void(0);"></a>

    <div class="rbt-page-banner-wrapper">
        <!-- Start Banner BG Image  -->
        <div class="rbt-banner-image"></div>
        <!-- End Banner BG Image  -->
    </div>

    <!-- Start Card Style -->
    <div class="rbt-dashboard-area rbt-section-overlayping-top rbt-section-gapBottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <!-- Start Dashboard Top  -->
                    <div class="rbt-dashboard-content-wrapper">
                        <div class="tutor-bg-photo bg_image bg_image--22 height-350"></div>
                        <!-- Start Tutor Information  -->
                        <div class="rbt-tutor-information">
                            <div class="rbt-tutor-information-left">
                                <div class="thumbnail rbt-avatars size-lg">
                                    <img src="assets/images/team/avatar.jpg" alt="Instructor">
                                </div>
                                <div class="tutor-content">
                                    <h5 class="title">John Due</h5>
                                    <div class="rbt-review">
                                        <div class="rating">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                        </div>
                                        <span class="rating-count"> (15 Reviews)</span>
                                    </div>
                                </div>
                            </div>
                            <div class="rbt-tutor-information-right">
                                <div class="tutor-btn">
                                    <a class="rbt-btn btn-md hover-icon-reverse" href="#">
                                        <span class="icon-reverse-wrapper">
                        <span class="btn-text">Create a New Course</span>
                                        <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                                        <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- End Tutor Information  -->
                    </div>
                    <!-- End Dashboard Top  -->

                    <div class="row g-5">
                        <div class="col-lg-3">
                            <!-- Start Dashboard Sidebar  -->
                            <div class="rbt-default-sidebar sticky-top rbt-shadow-box rbt-gradient-border">
                                <div class="inner">
                                    <div class="content-item-content">

                                        <div class="rbt-default-sidebar-wrapper">
                                            <div class="section-title mb--20">
                                                <h6 class="rbt-title-style-2">Welcome, Jone Due</h6>
                                            </div>
                                            <nav class="mainmenu-nav">
                                                <ul class="dashboard-mainmenu rbt-default-sidebar-list">
                                                    <li><a href="instructor-dashboard.html"><i class="feather-home"></i><span>Dashboard</span></a></li>
                                                    <li><a href="instructor-profile.html"><i class="feather-user"></i><span>My Profile</span></a></li>
                                                    <li><a href="instructor-enrolled-courses.html"><i class="feather-book-open"></i><span>Enrolled Courses</span></a></li>
                                                    <li><a href="instructor-wishlist.html"><i class="feather-bookmark"></i><span>Wishlist</span></a></li>
                                                    <li><a href="instructor-reviews.html"><i class="feather-star"></i><span>Reviews</span></a></li>
                                                    <li><a href="instructor-my-quiz-attempts.html"><i class="feather-help-circle"></i><span>My Quiz Attempts</span></a></li>
                                                    <li><a href="instructor-order-history.html"><i class="feather-shopping-bag"></i><span>Order History</span></a></li>
                                                </ul>
                                            </nav>

                                            <div class="section-title mt--40 mb--20">
                                                <h6 class="rbt-title-style-2">Instructor</h6>
                                            </div>

                                            <nav class="mainmenu-nav">
                                                <ul class="dashboard-mainmenu rbt-default-sidebar-list">
                                                    <li><a href="instructor-course.html"><i class="feather-monitor"></i><span>My Courses</span></a></li>
                                                    <li><a href="instructor-announcements.html"><i class="feather-volume-2"></i><span>Announcements</span></a></li>
                                                    <li><a href="instructor-quiz-attempts.html"><i class="feather-message-square"></i><span>Quiz Attempts</span></a></li>
                                                    <li><a href="instructor-assignments.html"><i class="feather-list"></i><span>Assignments</span></a></li>
                                                </ul>
                                            </nav>

                                            <div class="section-title mt--40 mb--20">
                                                <h6 class="rbt-title-style-2">User</h6>
                                            </div>

                                            <nav class="mainmenu-nav">
                                                <ul class="dashboard-mainmenu rbt-default-sidebar-list">
                                                    <li><a href="instructor-settings.html"><i class="feather-settings"></i><span>Settings</span></a></li>
                                                    <li><a href="index.html"><i class="feather-log-out"></i><span>Logout</span></a></li>
                                                </ul>
                                            </nav>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <!-- End Dashboard Sidebar  -->
                        </div>

                        <div class="col-lg-9">
                            <!-- Start Enrole Course  -->
                            <div class="rbt-dashboard-content bg-color-white rbt-shadow-box">
                                <div class="content">
                                    <div class="section-title">
                                        <h4 class="rbt-title-style-3">Assignments
                                        </h4>
                                    </div>


                                    <!-- Start Filter -->
                                    <div class="rbt-dashboard-filter-wrapper">
                                        <div class="row g-5">
                                            <div class="col-lg-6">
                                                <div class="filter-select rbt-modern-select">
                                                    <span class="select-label d-block">Courses</span>
                                                    <select class="w-100" data-live-search="true" title="All" multiple data-size="7" data-actions-box="true" data-selected-text-format="count > 2">
                                                        <option data-subtext="HTML">Web Design</option>
                                                        <option data-subtext="Photoshop">Graphic</option>
                                                        <option data-subtext="Career">English</option>
                                                        <option data-subtext="Career">Spoken English</option>
                                                        <option data-subtext="Experts">Art Painting</option>
                                                        <option data-subtext="Experts">App Development</option>
                                                        <option data-subtext="Experts">Web Application</option>
                                                        <option data-subtext="Experts">Php Development</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-lg-3">
                                                <div class="filter-select rbt-modern-select">
                                                    <span class="select-label d-block">Short By</span>
                                                    <select class="w-100">
                                                        <option>Default</option>
                                                        <option>Latest</option>
                                                        <option>Popularity</option>
                                                        <option>Trending</option>
                                                        <option>Price: low to high</option>
                                                        <option>Price: high to low</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-lg-3">
                                                <div class="filter-select rbt-modern-select">
                                                    <span class="select-label d-block">Short By Offer</span>
                                                    <select class="w-100">
                                                        <option>Free</option>
                                                        <option>Paid</option>
                                                        <option>Premium</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Filter -->

                                    <hr class="mt--30">

                                    <div class="rbt-dashboard-table table-responsive mobile-table-750 mt--30">
                                        <table class="rbt-table table table-borderless">
                                            <thead>
                                                <tr>
                                                    <th>Assignment Name</th>
                                                    <th>Total Marks</th>
                                                    <th>Total Submit</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <th>
                                                        <span class="h6 mb--5">Write a short essay on yourself using the 5</span>
                                                        <p class="b3">Course: <a href="#">Fundamentals 101</a></p>
                                                    </th>
                                                    <td>
                                                        <p class="b3">80</p>
                                                    </td>
                                                    <td>
                                                        <p class="b3">2</p>
                                                    </td>
                                                    <td>
                                                        <div class="rbt-button-group justify-content-end">
                                                            <a class="rbt-btn btn-xs bg-primary-opacity radius-round" href="#" title="Edit"><i class="feather-edit pl--0"></i> Edit</a>
                                                            <a class="rbt-btn btn-xs bg-color-danger-opacity radius-round color-danger" href="#" title="Delete"><i class="feather-trash-2 pl--0"></i></a>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th>
                                                        <span class="h6 mb--5">Speaking Korean for Beginners</span>
                                                        <p class="b3">Course: <a href="#">Speaking 101</a></p>
                                                    </th>
                                                    <td>
                                                        <p class="b3">20</p>
                                                    </td>
                                                    <td>
                                                        <p class="b3">3</p>
                                                    </td>
                                                    <td>
                                                        <div class="rbt-button-group justify-content-end">
                                                            <a class="rbt-btn btn-xs bg-primary-opacity radius-round" href="#" title="Edit"><i class="feather-edit pl--0"></i> Edit</a>
                                                            <a class="rbt-btn btn-xs bg-color-danger-opacity radius-round color-danger" href="#" title="Delete"><i class="feather-trash-2 pl--0"></i></a>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th>
                                                        <span class="h6 mb--5">Song Writing Techniques 101</span>
                                                        <p class="b3">Course: <a href="#">Song Writing</a></p>
                                                    </th>
                                                    <td>
                                                        <p class="b3">60</p>
                                                    </td>
                                                    <td>
                                                        <p class="b3">10</p>
                                                    </td>
                                                    <td>
                                                        <div class="rbt-button-group justify-content-end">
                                                            <a class="rbt-btn btn-xs bg-primary-opacity radius-round" href="#" title="Edit"><i class="feather-edit pl--0"></i> Edit</a>
                                                            <a class="rbt-btn btn-xs bg-color-danger-opacity radius-round color-danger" href="#" title="Delete"><i class="feather-trash-2 pl--0"></i></a>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th>
                                                        <span class="h6 mb--5">Arabic For Beginners</span>
                                                        <p class="b3">Course: <a href="#">Arabic Writing</a></p>
                                                    </th>
                                                    <td>
                                                        <p class="b3">40</p>
                                                    </td>
                                                    <td>
                                                        <p class="b3">15</p>
                                                    </td>
                                                    <td>
                                                        <div class="rbt-button-group justify-content-end">
                                                            <a class="rbt-btn btn-xs bg-primary-opacity radius-round" href="#" title="Edit"><i class="feather-edit pl--0"></i> Edit</a>
                                                            <a class="rbt-btn btn-xs bg-color-danger-opacity radius-round color-danger" href="#" title="Delete"><i class="feather-trash-2 pl--0"></i></a>
                                                        </div>
                                                    </td>
                                                </tr>

                                            </tbody>

                                        </table>
                                    </div>

                                </div>
                            </div>
                            <!-- End Enrole Course  -->
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- End Card Style -->





  {% endblock content %}
  
  
  
  
  