{% extends 'base.html' %}
{% load static %}


{% block content %}


    <a class="close_side_menu" href="javascript:void(0);"></a>

    <div class="rbt-page-banner-wrapper">
        <!-- Start Banner BG Image  -->
        <div class="rbt-banner-image"></div>
        <!-- End Banner BG Image  -->
    </div>

    <!-- Start Card Style -->
    <div class="rbt-dashboard-area rbt-section-overlayping-top rbt-section-gapBottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <!-- Start Dashboard Top  -->
                    <div class="rbt-dashboard-content-wrapper">
                        <div class="tutor-bg-photo bg_image bg_image--22 height-350"></div>
                        <!-- Start Tutor Information  -->
                        <div class="rbt-tutor-information">
                            <div class="rbt-tutor-information-left">
                                <div class="thumbnail rbt-avatars size-lg">
                                    <img src="assets/images/team/avatar.jpg" alt="Instructor">
                                </div>
                                <div class="tutor-content">
                                    <h5 class="title">John Due</h5>
                                    <div class="rbt-review">
                                        <div class="rating">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                        </div>
                                        <span class="rating-count"> (15 Reviews)</span>
                                    </div>
                                </div>
                            </div>
                            <div class="rbt-tutor-information-right">
                                <div class="tutor-btn">
                                    <a class="rbt-btn btn-md hover-icon-reverse" href="#">
                                        <span class="icon-reverse-wrapper">
                        <span class="btn-text">Create a New Course</span>
                                        <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                                        <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- End Tutor Information  -->
                    </div>
                    <!-- End Dashboard Top  -->

                    <div class="row g-5">
                        <div class="col-lg-3">
                            <!-- Start Dashboard Sidebar  -->
                            <div class="rbt-default-sidebar sticky-top rbt-shadow-box rbt-gradient-border">
                                <div class="inner">
                                    <div class="content-item-content">

                                        <div class="rbt-default-sidebar-wrapper">
                                            <div class="section-title mb--20">
                                                <h6 class="rbt-title-style-2">Welcome, Jone Due</h6>
                                            </div>
                                            <nav class="mainmenu-nav">
                                                <ul class="dashboard-mainmenu rbt-default-sidebar-list">
                                                    <li><a href="instructor-dashboard.html"><i class="feather-home"></i><span>Dashboard</span></a></li>
                                                    <li><a href="instructor-profile.html"><i class="feather-user"></i><span>My Profile</span></a></li>
                                                    <li><a href="instructor-enrolled-courses.html"><i class="feather-book-open"></i><span>Enrolled Courses</span></a></li>
                                                    <li><a href="instructor-wishlist.html"><i class="feather-bookmark"></i><span>Wishlist</span></a></li>
                                                    <li><a href="instructor-reviews.html"><i class="feather-star"></i><span>Reviews</span></a></li>
                                                    <li><a href="instructor-my-quiz-attempts.html"><i class="feather-help-circle"></i><span>My Quiz Attempts</span></a></li>
                                                    <li><a href="instructor-order-history.html"><i class="feather-shopping-bag"></i><span>Order History</span></a></li>
                                                </ul>
                                            </nav>

                                            <div class="section-title mt--40 mb--20">
                                                <h6 class="rbt-title-style-2">Instructor</h6>
                                            </div>

                                            <nav class="mainmenu-nav">
                                                <ul class="dashboard-mainmenu rbt-default-sidebar-list">
                                                    <li><a href="instructor-course.html"><i class="feather-monitor"></i><span>My Courses</span></a></li>
                                                    <li><a href="instructor-announcements.html"><i class="feather-volume-2"></i><span>Announcements</span></a></li>
                                                    <li><a href="instructor-quiz-attempts.html"><i class="feather-message-square"></i><span>Quiz Attempts</span></a></li>
                                                    <li><a href="instructor-assignments.html"><i class="feather-list"></i><span>Assignments</span></a></li>
                                                </ul>
                                            </nav>

                                            <div class="section-title mt--40 mb--20">
                                                <h6 class="rbt-title-style-2">User</h6>
                                            </div>

                                            <nav class="mainmenu-nav">
                                                <ul class="dashboard-mainmenu rbt-default-sidebar-list">
                                                    <li><a href="instructor-settings.html"><i class="feather-settings"></i><span>Settings</span></a></li>
                                                    <li><a href="index.html"><i class="feather-log-out"></i><span>Logout</span></a></li>
                                                </ul>
                                            </nav>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <!-- End Dashboard Sidebar  -->
                        </div>

                        <div class="col-lg-9">
                            <!-- Start Enrole Course  -->
                            <div class="rbt-dashboard-content bg-color-white rbt-shadow-box">
                                <div class="content">
                                    <div class="section-title">
                                        <h4 class="rbt-title-style-3">Order History</h4>
                                    </div>

                                    <div class="rbt-dashboard-table table-responsive mobile-table-750">
                                        <table class="rbt-table table table-borderless">
                                            <thead>
                                                <tr>
                                                    <th>Order ID</th>
                                                    <th>Course Name</th>
                                                    <th>Date</th>
                                                    <th>Price</th>
                                                    <th>Status</th>
                                                </tr>
                                            </thead>

                                            <tbody>
                                                <tr>
                                                    <th>#5478</th>
                                                    <td>App Development</td>
                                                    <td>January 27, 2022</td>
                                                    <td>$100.99</td>
                                                    <td><span class="rbt-badge-5 bg-color-success-opacity color-success">Success</span></td>
                                                </tr>
                                                <tr>
                                                    <th>#4585</th>
                                                    <td>Graphic</td>
                                                    <td>May 27, 2022</td>
                                                    <td>$200.99</td>
                                                    <td><span class="rbt-badge-5 bg-primary-opacity">Processing</span></td>
                                                </tr>
                                                <tr>
                                                    <th>#9656</th>
                                                    <td>Graphic</td>
                                                    <td>March 27, 2022</td>
                                                    <td>$200.99</td>
                                                    <td><span class="rbt-badge-5 bg-color-warning-opacity color-warning">On Hold</span></td>
                                                </tr>
                                                <tr>
                                                    <th>#2045</th>
                                                    <td>Application</td>
                                                    <td>March 27, 2022</td>
                                                    <td>$200.99</td>
                                                    <td><span class="rbt-badge-5 bg-color-danger-opacity color-danger">Canceled</span></td>
                                                </tr>
                                                <tr>
                                                    <th>#5478</th>
                                                    <td>App Development</td>
                                                    <td>January 27, 2022</td>
                                                    <td>$100.99</td>
                                                    <td><span class="rbt-badge-5 bg-color-success-opacity color-success">Success</span></td>
                                                </tr>
                                                <tr>
                                                    <th>#4585</th>
                                                    <td>Graphic</td>
                                                    <td>May 27, 2022</td>
                                                    <td>$200.99</td>
                                                    <td><span class="rbt-badge-5 bg-primary-opacity">Processing</span></td>
                                                </tr>
                                                <tr>
                                                    <th>#9656</th>
                                                    <td>Graphic</td>
                                                    <td>March 27, 2022</td>
                                                    <td>$200.99</td>
                                                    <td><span class="rbt-badge-5 bg-color-warning-opacity color-warning">On Hold</span></td>
                                                </tr>
                                                <tr>
                                                    <th>#2045</th>
                                                    <td>Application</td>
                                                    <td>March 27, 2022</td>
                                                    <td>$200.99</td>
                                                    <td><span class="rbt-badge-5 bg-color-danger-opacity color-danger">Canceled</span></td>
                                                </tr>
                                                <tr>
                                                    <th>#5478</th>
                                                    <td>App Development</td>
                                                    <td>January 27, 2022</td>
                                                    <td>$100.99</td>
                                                    <td><span class="rbt-badge-5 bg-color-success-opacity color-success">Success</span></td>
                                                </tr>
                                                <tr>
                                                    <th>#4585</th>
                                                    <td>Graphic</td>
                                                    <td>May 27, 2022</td>
                                                    <td>$200.99</td>
                                                    <td><span class="rbt-badge-5 bg-primary-opacity">Processing</span></td>
                                                </tr>
                                                <tr>
                                                    <th>#9656</th>
                                                    <td>Graphic</td>
                                                    <td>March 27, 2022</td>
                                                    <td>$200.99</td>
                                                    <td><span class="rbt-badge-5 bg-color-warning-opacity color-warning">On Hold</span></td>
                                                </tr>
                                                <tr>
                                                    <th>#2045</th>
                                                    <td>Application</td>
                                                    <td>March 27, 2022</td>
                                                    <td>$200.99</td>
                                                    <td><span class="rbt-badge-5 bg-color-danger-opacity color-danger">Canceled</span></td>
                                                </tr>
                                                <tr>
                                                    <th>#5478</th>
                                                    <td>App Development</td>
                                                    <td>January 27, 2022</td>
                                                    <td>$100.99</td>
                                                    <td><span class="rbt-badge-5 bg-color-success-opacity color-success">Success</span></td>
                                                </tr>
                                                <tr>
                                                    <th>#4585</th>
                                                    <td>Graphic</td>
                                                    <td>May 27, 2022</td>
                                                    <td>$200.99</td>
                                                    <td><span class="rbt-badge-5 bg-primary-opacity">Processing</span></td>
                                                </tr>
                                                <tr>
                                                    <th>#9656</th>
                                                    <td>Graphic</td>
                                                    <td>March 27, 2022</td>
                                                    <td>$200.99</td>
                                                    <td><span class="rbt-badge-5 bg-color-warning-opacity color-warning">On Hold</span></td>
                                                </tr>
                                                <tr>
                                                    <th>#2045</th>
                                                    <td>Application</td>
                                                    <td>March 27, 2022</td>
                                                    <td>$200.99</td>
                                                    <td><span class="rbt-badge-5 bg-color-danger-opacity color-danger">Canceled</span></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                            </div>
                            <!-- End Enrole Course  -->
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- End Card Style -->


       <!--footer start -->

       <footer class="d-flex flex-wrap justify-content-between align-items-center p-5 mt-5 border-top" style="background-color: #F1F1FB;">
        <p class="col-md-4 mb-0 text-body-secondary"><img src="pagestyle\site-img\img\Logoipusm.png" alt=""></p>
        
        <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
          
        </a>
    
        <ul class="nav col-md-4 justify-content-end">
          <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Home</a></li>
          <li class="nav-item"><a href="About.html" class="nav-link px-2 text-body-secondary">About us </a></li>
          <li class="nav-item"><a href="contact.html" class="nav-link px-2 text-body-secondary">Contact Us</a></li>
          <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Terms</a></li>
          <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">PrivacyPolicy</a></li>
          
        </ul>
        <div class="container  d-flex align-items-center justify-content-center ">
        <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-12 justify-content-center">
            <p class="rbt-link-hover  text-lg-start ">Copyright © 2023 <a href="#">Inkronix.</a> All Rights Reserved</p>
        </div>
    
        </div>
      </footer>{% endblock content %}