{% load static %}

<!--footer start -->

<footer class="d-flex flex-wrap justify-content-center align-items-center p-5 mt-5 border-top" style="background-color: #F1F1FB;">
    <div class="logo">
        <a href="{% url 'index' %}">
            <img src="{% static 'pagestyle\site-img\img\Inkronix_Logo.jpeg' %}" alt="Logoipsum" />
        </a>
    </div>

    <a href="/"
        class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
    </a>

    <ul class="nav col-md-4 justify-content-end">
        <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Home</a></li>
        <li class="nav-item"><a href="About.html" class="nav-link px-2 text-body-secondary">About us </a></li>
        <li class="nav-item"><a href="contact.html" class="nav-link px-2 text-body-secondary">Contact Us</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Terms</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Privacy Policy</a></li>
    </ul>
    <div class="container  d-flex align-items-center justify-content-center ">
        <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-12 justify-content-center">
            <p class="rbt-link-hover  text-lg-start ">Copyright © 2023 <a href="{% url 'index' %}">Inkronix.</a> All Rights Reserved</p>
        </div>
    </div>



</footer>

<!--footer end -->